[2019-11-20 10:21] DenoBeno commented on #59
One more warning. It would be dangerous to assume that "less dense" means "smaller buildings". I thought that this would be so, and it mostly is. But look at the map below.

![image](https://user-images.githubusercontent.com/2961790/69229964-bf3a1780-0b86-11ea-8226-12f4f49a145f.png)

The building that I've encircled is where I was born. It's a 17 stocks skyscraper surrounded by a sizable green are

[2019-11-20 11:39] negroscuro commented on #59
Regarding UA building height we have to consider that there is only a few cities available with this data, then it will limit our cities list. Moreover I do not know how relevant is building height in our heat wave calculation. Some time ago I understood it is not since we are dealing with outdoor heat wave calculation.
For me it looks good not to remove building layers (built_up and built_open_sp

[2019-11-20 13:13] humerh commented on #59
and building height is not part of our calculation. so it makes no sense to add such a layer.
It would require a new calculation model!!!

[2019-11-20 15:10] stefanon commented on #59
Hi All
@negroscuro about the layer calculation / extraction procedure, can I ask more details on how you've generated layers 7 and 8 from your list using ESM raster data?
For what concern the procedure used to obtain problematic layers
9- Dense_urban_fabric
10- Medium_urban_fabric
11- Low_urban_fabric
I can't find any reference in the excel from Alessandra about doing difference with layers 7 or 8

[2019-11-20 15:52] negroscuro commented on #59
Yes indeed it is not written anywhere just said in an email without any kind of details. Before Naples meeting during early spring. I was told to compute differences and I ended up removing complete polygons when any part of them was overlapping and that was wrong. During Naples meeting Alessandra explained to me that I should only remove specific area of overlaping. So it took some time to unders

[2019-11-20 16:24] stefanon commented on #59
I need some time to read all your post in detail, thanks, in the meantime I've a doubt, in raster classification I've noticed that the threshold specified is 45 or 30, you've considered that the rasters from ESM have floating point values in range 0 - 1?

[2019-11-20 17:16] negroscuro commented on #59
I have been checking but bands 30, 40 and 50 from ESM are integer values between 0 and 100.

![image](https://user-images.githubusercontent.com/6427900/69262222-6472e100-0bc3-11ea-8518-211117feba3d.png)

Data type is: UInt16

[2019-11-20 20:36] stefanon commented on #59
ok, I see that I downloaded a different file, wrong one.

[2019-11-21 07:04] negroscuro commented on #59
Let me know if you need any clarification of any scripts steps.

[2019-11-22 14:55] p-a-s-c-a-l commented on #47
I've started implementing support for such template resource (= resources with variables) in https://github.com/clarity-h2020/csis-helpers-js/issues/8. The basic idea, as I understood, is to create for each template resource "virtual" map layers for all possible variable combinations (= template resource expansion), eliminating the need to create e.g. resources for each time_period and rcp combina

[2019-11-25 14:45] p-a-s-c-a-l commented on #7
- [x] create new [DP_ResourceType](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/dp_resourcetype/overview)
- [x] implement [Support for Template Resources](https://github.com/clarity-h2020/map-component/issues/69) in Map Component.
- [x] Create Background **Template Resources** for [Urban Atlas WMS Layers](https://image.discomap.eea.europa.eu/arcgis/services/UrbanAtlas/UA_UrbanA

[2019-11-27 09:13] p-a-s-c-a-l commented on #47
ATM the feature of automatic Template Resource Expansion is enabled for Template Resources of type *background-layer*  and the variable *layer* as explained [here](https://github.com/clarity-h2020/map-component/issues/69#issuecomment-558206120).

Other Resources are **not automatically** expanded for the reasons mentioned [above](https://github.com/clarity-h2020/data-package/issues/47#issuecomment

[2019-11-27 09:22] p-a-s-c-a-l commented on #7
- [ ] check https://discomap.eea.europa.eu/Index/ and add more useful background layers

[2019-11-28 10:56] p-a-s-c-a-l commented on #7
Added [Urban Sprawl Europe 2009 1km LEAC GRID level](https://csis.myclimateservice.eu/node/2069): [Map](https://csis.myclimateservice.eu/apps/map-component/build/?url=https://csis.myclimateservice.eu&resource_uuid=621a1895-f9dd-4813-96b9-4071be22109e)

[2019-11-29 14:29] p-a-s-c-a-l commented on #7
Done. Most interesting [EEA Discover Map Services](https://csis.myclimateservice.eu/apps/map-component/build/?url=https://csis.myclimateservice.eu&resource_uuid=83ce0b58-58de-4bc7-821c-48aa939c6b45) added.

[2019-11-29 14:29] #7 closed

[2019-12-03 10:10] ghilbrae opened #61 "Data Packages per study"
Is it possible or planned to be able to assign more than one data Package to a study?

Also, same question for resources. In a study can resources from other data packages or resources available in the CSIS be used along the already assigned Data Package?

[2019-12-05 11:21] patrickkaleta commented on #61
ATM this is not possible and I'm not aware of such plans that would make it possible in the future.

I'm not sure if I understand your question. You can reference a resource in multiple data packages, that's not a problem - adding a resource to a new data package doesn't affect the data packages that already reference (use) that resource. **Just be careful not to edit an existing resource, since t

[2019-12-05 13:36] ghilbrae commented on #61
The second question was going for the possibility of using a resource on its own along with a DP inside the study.

If the way to go is to add the resource to the DP, then I would like to know if the idea is to have a DP per study or if you can ignore certain resources from a DP within your study.

[2019-12-05 19:19] DenoBeno commented on #61
you can ignore them.

On Thu, 5 Dec 2019, 14:36 Angela Rivera, <notifications@github.com> wrote:

[2019-12-06 08:04] patrickkaleta commented on #61
Yes, just like Denis said, unnecessary resources in a data package can simply be ignored. At some later point users will get the option to select only those resources of a DP, which they are interested in.

[2019-12-09 08:40] #42 closed

[2019-12-09 08:42] p-a-s-c-a-l commented on #44
Any further progress to report here? :-)

[2019-12-09 08:51] p-a-s-c-a-l commented on #59
What's the status of the discussions?  Are the layers o.k. as they are or do we have to re-generate them?

FYI: I've added several EEA Background Layers, so you can compare them directly with the HC-LE layers:

[![grafik](https://user-images.githubusercontent.com/1788226/70421108-7086eb80-1a69-11ea-9eaf-2f44f5d64c38.png)](https://csis.myclimateservice.eu/study/33/step/1513/view/maps)

[2019-12-10 08:01] ghilbrae commented on #61
Thanks all for the clarifications.

[2019-12-10 08:01] #61 closed

[2019-12-10 08:24] p-a-s-c-a-l commented on #57
[code]

Is there already something else available on GeoServer or in CSIS? The question is also, what is the purpose of this RESCCUE data package? For which kind of study can it be used? Or resources to other data packages, e.g. the [European Wide Data Package](https://csis.myclimateservice.eu/node/682)?

BTW, "variables" (= **Template Resources**) will only work in screening studies or such studi

[2019-12-10 08:38] ghilbrae commented on #57
That layer no  longer exists, I changed some information to get a better classification of the layers. You can try this link instead:

https://clarity.meteogrid.com/geoserver/resccue/wms?service=WMS&version=1.1.0&request=GetMap&layers=resccue%3ABCN_climatic_pr_100years_period2011-2040_cuantil10&bbox=3514242.2563050915%2C1957497.0370172886%2C3786106.8423613026%2C2204505.4323483603&width=768&height=

[2019-12-10 12:54] DenoBeno commented on #57
Keep our templates in mind when naming the layers. It will be easier to
make that work if the same naming conventions (rcp, period, frequency,
yell if more is needed) are used everywhere.

Angela Rivera <notifications@github.com> schrieb am Di., 10. Dez. 2019,
09:38:

[2019-12-10 13:04] p-a-s-c-a-l commented on #57
See also https://github.com/clarity-h2020/local-effects/issues/9#issuecomment-564022191 for the current list of supported variables in template resources.

[2019-12-11 11:37] negroscuro commented on #59
There is no dicussion yet, I am still waiting for WP3 assesment, I hope teleconference on 16th and 17th december clarifies this, but maybe it will also be discussed at Naples meeting.

[2019-12-16 12:31] negroscuro commented on #59
Changes after WP3 discussion:

1- Building Height set to 1 to to every layer it applies (1-8)
2- vegetation_shadow values where wrong:
[code]
Now using:
[code]
3- Computing differences on layers 9,10,11,12 (dense UF, medium UF, low UF and Public military and insdustrial) are not done, this means no difference is computed on them.

With this changes I will generate Napoli input layers for local eff

[2019-12-16 12:59] stefanon commented on #59
Hi Mario

as told in the telco we'd like to consider the effects of buildings shadow on Tmrt on large scale with a 'post-process' calculation factor, so we'll consider all features without building shadow (1 = no  shadow, sort of inverted logic).

probably my fault in communication, but here we consider vegetation shadow present only for trees, so all values are set to 1 except for trees where it'

[2019-12-16 13:13] negroscuro commented on #59
Thank you Steffano, I got confused because the excel file and my local data for the script where saying contradictory things (I just corrected the excel).

So values for building_shadow is 1 to all
And for vegetation shadow are:
[water] 1
[roads] 1
[railways] 1
[trees] 0
[vegetation] 1
[agricultural_areas] 1
[built_up] 1
[built_open_spaces] 1

[2019-12-16 14:26] stefanon commented on #59
The parameters we have attributed to the features of landuse layer we are using in tests are reported hereafter for comparison with those used in the Tmrt calculations:

classe | albedo | emissivity | "tau (transmissivity)"
-- | -- | -- | --
AGRICULTURAL AREAS | 0,16 | 0,94 | 0,25
BARE SOIL | 0,11 | 0,95 | 0,25
BUILDINGS | 0,18 | 0,95 | 0,02
BUILT OPEN SPACES | 0,25 | 0,9 | 0,05
RAILWAYS | 0,2 | 0

[2019-12-16 15:08] negroscuro commented on #59
These are the albedo values I am using:
[code]

These regarding emissivity:
[code]

These regarding transmissivity:
[code]

Not sure what PSI_V is, neither Density...

If you want me to correct anything please specify what and confirm.
Thank you

[2019-12-16 15:28] stefanon commented on #59
I've corrected a typo and added the field name for psi_v / psi_b. Density is a value (in a scale from 0 to 3 for our detailed landuse) related to the building density in the grid cell (surface of buildings related to the cell surface). As agreed in the telco the density value can be calculated in the Emikat script starting from the 3 field you're calculating.

[2019-12-16 16:00] stefanon commented on #59
About the parameters values you've listed they are almost all the same, I've found only a few little differences, apart the attribution to dense medium and low urban fabric that I'm not using in calculations

[2019-12-16 23:08] negroscuro commented on #59
Naples city is generated with the new changes and available in ATOS Geoserver.

This is how it looks like:
![image](https://user-images.githubusercontent.com/6427900/70950587-61073400-2061-11ea-9c33-ba388c6580cf.png)

If its correct I can start over with all cities in this new way.

[2019-12-17 10:20] negroscuro commented on #59
I spotted an issue on europan grid 500m ETRS LAEA. it seems Iceland is out of the grid so this means besides having all datasets, if we are missing the grid cells for the area is enough reason to not be able to generate Reykjavik land use geometries or any land use percentages.

I am trying to generate specific area of the grid "manually" for iceland to add it to the european grid as solution.

An

[2019-12-17 16:42] stefanon commented on #59
Hi Mario

the 3 density layers look nice now, and  I'll show them to @mattia-leone too. They can be used in Emikat for parameters attribution to the other features in function of the density class (with only 3 classes).
One thing I have noticed looking at the attributes in the WFS layers, is that I can't find hillshade_green_fraction fields, except than for trees where it's equal to 0.37. This is

[2019-12-17 23:11] negroscuro commented on #59
Nice news @stefanon, regarding hillshade green fraction you cannot find it because I was told not to add it but in tree layer as the excel from Alessandra depicts:
![image](https://user-images.githubusercontent.com/6427900/71041953-b9563880-212a-11ea-9929-ea6c41d80a68.png)
So if it is needed I will change scripts to add it to every layer, there is no problem with it, so I will add it to all other

[2019-12-17 23:14] negroscuro commented on #59
I was able to generate a 500m cell grid for Iceland and then isolate those layers overlapping Iceland boundaries, so no I am addding those cells to the old 500m laea etrs grid for europe, now to be complete including Iceland and having Reijkavik working, so now land use percentages for Reijkavik can be generated.

[2019-12-18 09:22] DenoBeno commented on #59
Definitely looks better.
But: did you substract the built up open areas from the four (including "industrial" buildings layers? If you do that, then you will be left with three buildings layers only where the buildings are, surrounded by vegetation, built up open areas or transport areas.. When I looked at the data, that looked like a good way to go.

[2019-12-18 09:35] DenoBeno commented on #59
Hm, definitely looks like you didn't substract the open spaces, there is very little grey in the map. Now, this may be what we want, but please think about it for the moment and confirm:

- the built up open spaces are AFAIK the paved areas around the buildings.  Knowing where these areas are could be useful,  e.g. to know where to apply the cool pavements.

Now, in dense urban areas it will be mo

[2019-12-18 09:42] negroscuro commented on #59
I just followed @Stefano and @mattia-leone instructions, that was to remove nothing from the four layers. Anyway I think they are better to answer, since they are the brain.... I am just the muscle :P

[2019-12-18 11:03] stefanon commented on #59
@DenoBeno Hi Denis, we've talked about this in the technical meeting on Monday: the 3 density layers for urban fabric need no subtraction with others, their use is as an information layer to be used to attribute other parameters values to others features, just like considering more shadow effect due to buildings in areas with high urban fabric density. Open spaces, green areas etc are in other lay

[2019-12-18 13:05] negroscuro commented on #59
For now I understand I could generate all cities again, unless you want me to change anything else like the hillshade gren fraction you mentioned. **So for now I will wait until you decide about this.**

[2020-01-08 08:36] #47 closed

[2020-01-08 08:47] p-a-s-c-a-l commented on #8
We have to add Pluvial Flood HC resources. See https://github.com/clarity-h2020/local-effects/issues/9#issuecomment-564047414

[2020-01-08 09:00] p-a-s-c-a-l commented on #8
A draft template resource for pluvial flood that uses variables is available [here](https://csis.myclimateservice.eu/node/2197/). Map Visualisation isn't 100% working yet as we had to introduce a lot of [accidental complexity](https://www.nutshell.com/blog/accidental-complexity-software-design/) into the codebase due to incoherent [variable meanings](https://github.com/clarity-h2020/csis/issues/10

[2020-01-08 14:03] p-a-s-c-a-l commented on #16
Description of the [Heat mortality risk/impact screening ](https://csis.myclimateservice.eu/node/1356) has to be updated. At the moment, it just contains *"This data is generated by EMIKAT **on the fly** and for the study area indicated by $emikat_id"* which is not enough.

We have to clearly describe the underlying methodology / models that lead to those results (mortality rate), the datasets tha

[2020-01-08 15:26] p-a-s-c-a-l commented on #20
It seems that there is quite some misunderstanding on what the CSIS is able to offer in terms of Data Packages. The CSIS can manage the Meta Data represented by Data Packages and Data Package Resources but it is within the sole responsibility of the user to make the actual data available and accessible via public services.

The Data Package for DC1 does not yet exist. The data is available on CLAR

[2020-01-22 08:29] p-a-s-c-a-l commented on #8
Including this one, there are now three issues regarding the Pluvial Floods Input layers (https://github.com/clarity-h2020/data-package/issues/54 and https://github.com/clarity-h2020/local-effects/issues/9), so closing this one.

[2020-01-22 08:29] #8 closed

[2020-01-22 13:29] p-a-s-c-a-l commented on #54
Flood HC Layers are now available in CSIS. See https://github.com/clarity-h2020/local-effects/issues/9#issuecomment-577181444

[2020-01-28 08:39] claudiahahn commented on #41
Dear @LauraMTG and @ghilbrae, I have uploaded the wind indices to the ftp:
/clarityftp/europe/hazard_indices/wind/98perc-sfcWindmax
/clarityftp/europe/hazard_indices/wind/FXx
/clarityftp/europe/hazard_indices/wind/torro17

[2020-01-28 08:52] LauraMTG commented on #41
Hi @claudiahahn @negroscuro

I'll process the data. For now, in order not to stop the publication of the final data, I will use the MTG geoserver. However, please note that the process of migrating data to ATOS FTP is pending, so its location will have to be changed later.

[2020-01-28 08:54] claudiahahn commented on #41
Thank you!

[2020-01-28 09:49] DenoBeno opened #62 "Riga should be included in the european data package"
We need Riga for the climatefestival (Final event of CLARITY). As far as I can see, the input data is available, but the Riga region is not included in the list of the available cities/regions for the screening.

Please check why and add Riga to the list of available cities/regions if possible.

Here are some other major cities in the region that would be nice to have:
- [ ] Riga - not available a

[2020-01-28 10:19] DenoBeno commented on #59
I looked at this again today. There are no changes in Linz. And I have discovered an error in categorization in Naples:

![image](https://user-images.githubusercontent.com/2961790/73255050-ccdfcf00-41bf-11ea-9c4b-19942343634a.png)

![image](https://user-images.githubusercontent.com/2961790/73255095-dc5f1800-41bf-11ea-9bed-f3efa8e25474.png)

Notice how the vegetation wasn't substracted from the "pu

[2020-01-28 10:29] DenoBeno commented on #59
I consider this a showstopper - if the input layers are false, we can't even validate the model properly.

[2020-01-28 11:03] patrickkaleta commented on #62
@therter's import script would've have included Riga in our [Cities/Region](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/cities_regions/overview) taxonomy if it had all required input data/layers available. But I'm guessing for Riga this just wasn't the case. @negroscuro can you please check and verify that?

[2020-01-28 11:12] therter commented on #62
Yes, Riga is not included in the [cities shape](http://services.clarity-h2020.eu:8080/geoserver/clarity/wfs?request=GetFeature&typeNames=clarity:mortality&outputFormat=SHAPE-ZIP)

[2020-02-03 08:42] DenoBeno commented on #62
@humerh just told me that he has Riga in the database, written as "Rīga", code LV001C1.

This is a general issue - his recommendation is to switch to using codes if possible.

Another example: Liepāja, code LV002L1

[2020-02-03 08:53] p-a-s-c-a-l commented on #62
In which database? If it's not in the "cities shape" (@therter please provide a link to the respective layer), then there aren't all required local effects layer available, right @negroscuro ?

[2020-02-03 09:04] therter commented on #62
The cities can be downloaded [here](http://services.clarity-h2020.eu:8080/geoserver/clarity/wfs?request=GetFeature&typeNames=clarity:mortality&outputFormat=SHAPE-ZIP)

[2020-02-03 09:55] therter commented on #62
The name of the layer is clarity:mortality

[preview of the mortality layer](http://services.clarity-h2020.eu:8080/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity%3Amortality&bbox=1995203.0178%2C1014243.9784%2C7079558.6386%2C5270223.5146&width=768&height=642&srs=EPSG%3A3035&format=application/openlayers)

[2020-02-03 09:58] DenoBeno commented on #62
This layer indeed has no Riga in it. I opened it with Qgis and checked.

However, I know that @humerh  interpolates the mortality data for the cities where no mortality data is available. So now I'm confused - why would he need to do this if the city shapes are taken from the mortality layers.

[2020-02-03 10:01] p-a-s-c-a-l commented on #62
Good Question. Maybe @negroscuro can answer that?

[2020-02-03 13:06] negroscuro commented on #62
This happens because I only added cities mortality data for those which are available in the system in terms of UA, STL and ESM data sources.
Should I do it in a different way?

EDIT: I checked and there is data for Riga in UA2012, but not from STL. (both datasets comes arranged by city)
Regarding ESM not sure, I guess there should be data since it is raster data source for whole europe.

[2020-02-03 21:44] DenoBeno commented on #62
UAL = urban atlas
STL = street tree layer
ESM = European settlement map

Mario Nuñez <notifications@github.com> schrieb am Mo., 3. Feb. 2020, 14:06:

[2020-02-05 08:30] RobAndGo opened #63 "Is it possible to sort resources within a data-package?"
Apologies if this has been covered already and maybe I missed it, but is it possible to sort the resources within a data-package e.g. alphabetically?

I want to edit some of the resources within the "European Wide Data Package", and it seems the entries are just sorted according to when they were inserted. This makes it hard to find things within it.

[2020-02-05 08:45] RobAndGo commented on #63
And while I am here, I have noticed that when editing a resource, there are two options:
- Quick edit
- Edit

I understand what "Edit" does, but using "Quick edit" seems a bit unclear. Am I correct in saying that I can only edit 3 fields with this tool (description, spatial extent, and ckan address)?

And there seems to be some bugs with this "Quick edit". I am using the latest version of Chrome f

[2020-02-05 10:54] patrickkaleta commented on #63
AFAIK this has not been asked before. You have a couple of options for how to edit resources and depending on the use case, one might be better or less suited than the others:
1)  **Edit a resource via viewing the data package and clicking on the "pencil-icon" of the resource**
So for the European DP it would be this link: https://csis.myclimateservice.eu/node/682
That's probably the worst choice,

[2020-02-05 11:00] patrickkaleta commented on #63
Well, Drupal has this "Quick edit" to make life more comfortable and let you edit content directly in the front end where it appears (called View-mode in Drupal), so that you can see immediately how it will look, instead of sending you to the form of that content type (aka Edit-mode). **BUT** as you already noticed it has quite a few bugs, so I wouldn't use it, especially not with so complex entit

[2020-02-05 14:29] RobAndGo commented on #63
Thanks @patrickkaleta.

By the way, what I do **love** with the current edit feature under the "Maintenance tab" is that, when I select "edit" with the right-mouse button, I can **open it in a new browser tab** and still have the list of resources in the original tab. This way, I can quickly edit multiple resources at once and save each individually. AND, I don't need to save the whole data-packag

[2020-02-05 22:21] negroscuro commented on #59
Input layers database was deleted since data was wrongly calculated.
The good news is after some work on how to deal with parameters for every layer and an update for transmissivity I manage to rebuild the scripts and I am currently loading Naples, if everything goes well I will try some new cities after that.
New functionalities I bring from Naples meeting regarding mean altitude per cell, stream

[2020-02-06 11:31] DenoBeno commented on #62
OK, The STL is a problem. No data for Riga.

Well, that does it then - we can't support Riga at the moment.

![image](https://user-images.githubusercontent.com/2961790/73933222-453f4200-48dc-11ea-9f5d-c44b8b0dd9d5.png)

[2020-02-06 11:31] #62 closed

[2020-02-06 17:09] negroscuro commented on #59
Naples is loaded.

For  layers urban fabric and public_military_industrial I only removed differences with trees, vegetation and built open spaces since those are the ones which use different data sources (STL or ESM which can be overlapping).

I am checking it. If you have the change, take a look on it. I do not know where to check its correction...
thank you!

[2020-02-06 20:08] DenoBeno commented on #59
I took a look at it, looks good.

Mario Nuñez <notifications@github.com> schrieb am Do., 6. Feb. 2020, 18:09:

[2020-02-06 20:46] negroscuro commented on #59
Thats good, I am really happy to hear that, and I have to say: sorry for the delay  :(
I will try to upload all the cities you told me at Naples meeting, but after that I have to rebuild the scripts in order to add the new funcionalities (which I have started to implement already but there is a lot to do left and reestructuration). So I will try yo keep two versions of the script set simultaneousl

[2020-02-07 07:32] DenoBeno commented on #59
Updating one by one is a good idea.
@humerh has told me that one layer is missing now yesterday,  two of you should double check what is the problem and fix.

@mattia-leone, @humerh : since the layers are different now, please double check how the calculation works in EMIKAT. For reminder, we basically have five "buildings " layers now: dense/medium/whatever the third one was called + sport&leisur

[2020-02-07 11:17] negroscuro commented on #59
@humerh which layer are you missing?

[2020-02-07 14:46] humerh commented on #59
In Emikat I currently clarity:use the layer "land_use_grid".
If I test the layer with geoserver I get an error:

http://services.clarity-h2020.eu:8080/geoserver/clarity/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=clarity%3Aland_use_grid&maxFeatures=50

Error:
<ServiceExceptionReport xmlns="http://www.opengis.net/ogc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2.

[2020-02-07 15:04] negroscuro commented on #59
I just checked and updated heat wave layer definitions (in Geoserver) since they changed recently, thank you for let me know about it.
Regarding land use grid, i checked it as well and it seems to be working now, give it a try and let me know.

[2020-02-07 17:10] stefanon commented on #59
Dear Mario,
me and Nicola just had a look at your updated work for Napoli and it looks a good work. The layers (I've checked them on WMS but I've found also the WFS version) looks good, and the buildings split in different densities classes seems to be along what Denis idea.
I've to highlight some points:

-  layer 'built up' looks empty
-  'sports' layer, following the Urban Atlas classification,

[2020-02-08 07:19] humerh commented on #59
The layer "land_use_grid" seems to be well again.
I see, this layer contains a new layer "sports", which I have to implement in EMIKAT.

@stefanon: The Tmrt is automatically calculated for each "characteristic event air temperatures".
This is accessable by REST, WFS or WMS.

See also: https://github.com/clarity-h2020/csis/wiki/Services-endpoints-(used-by-CSIS)

[2020-02-08 07:31] negroscuro commented on #59
@stefanon

Data is not final since I have to change scripts it in the future to include new values you asked during Naples meeting.

Because of the hurry on having data for validation processs I did not included built_up since it is a layer which is not used for the calculations and it is one taking considerable processing time.
I know you are interested in this and it will be included later in fi

[2020-02-10 08:28] DenoBeno commented on #59
Yes, these are the first ones to re-generate. Considering the baltics, we will have our final conference in Riga. You can not generate Riga, but there are some other cities in the neighbourhood. See https://github.com/clarity-h2020/data-package/issues/62

- [ ] **Riga - stree tree layer not available atm.** _City code LV001C1_
- [x] Tallin (https://csis.myclimateservice.eu/taxonomy/term/5287)
- [

[2020-02-10 09:02] DenoBeno commented on #59
**BUILT UP LAYER MUST BE REMOVED NOW!!!**. Please don't re-calculate it, it's a complete waste of time.
- @humerh : you can probably leave this layer in the calculation if it exists for the old data). For the new data, this layer wil be empty/not exist.
- @therter : this layer should not be shown on the map anymore. I posted a separate bug report for this.

This layer is obsolete, because all the

[2020-02-10 09:44] negroscuro commented on #41
The migration process is being discussed here:
https://github.com/clarity-h2020/ckan/issues/23#event-2965728234

[2020-02-10 10:03] negroscuro commented on #59
Yes it is. Indeed new cities are done for all the urban layers, by removing trees, vegetation, agricultural areas and built_open_spaces from 5 urban layers which are sports, publica military industrial and 3 Urban farbric.
Currently loaded:
-Napoli
-Stockholm
-Linz
-Salzburg
-Wien
-Barcelona
-Athina --> skipped, unless stated otherwise I will skip this because is taking huge amounts of time and I

[2020-02-10 10:48] DenoBeno commented on #59
Tallinn & co. is not so urgent, you can do them with "everything else". Athena is nice to have, but not so urgent either. What we apparently need faster are some Italian cities, see with PLINIUS.

I just did a quick check in Vienna, it's looking good. Trying to do a study in Vienna now. Nop "1 error"
- _@humerh : apparently the change you did didn't work. Calculation in Vienna fails although we do

[2020-02-10 11:06] stefanon commented on #59
As already told from Denis, it's not wrong, and having 5 discrete layers makes 'built_up' layer useless.
But I wish to repeat again, that for screening level, with data organized this way, there is no way to tell that a road, a built open space, a vegetated area, is included or not in a 'Medium/Low/Dense' urban fabric area', as defined in Urban Atlas database, and this is a difference compared to

[2020-02-10 11:16] negroscuro commented on #59
Regarding Italian cities I was asking PLINIVS and I just receving an answer, so I updated my to-do list consequently:
- Napoli - DONE
- Stockhom - DONE
- Linz - DONE
- Salzburg - DONE
- Linz - DONE
- Wien - DONE
- Barcelona - DONE
- Palermo - DONE
- Reggio di Calabria - DONE
- Bari - DONE
- Bologna - DONE
- Torino --> **THIS CITY IS NOT AN AVAILABLE CITY, Stret Tree Layer IS MISSING...**
- Genova

[2020-02-11 16:13] DenoBeno opened #64 "Potential data sources for pan-european "traffic" data package"
The "urban infrastructure" CLARITY pan-european data package concentrates on main cities. Traffic data package would rather concentrate on inter-city roads, railways and related infrastructure. Some possible data sources:

- [ ] CORINE land cover. E.g. 122  "Road and rail networks and associated land" provides some data. owever, this data is IMO of very limited use for us. See https://land.coperni

[2020-02-11 18:19] stefanon commented on #59
Hi, I've spent some time checking the re-worked layers for Napoli area, and I'd like to let you all know about it:

![image](https://user-images.githubusercontent.com/9317034/74263296-ce9cad00-4cfe-11ea-95ac-5a47db11b0df.png)

‘Built-up’ layer (buildings) is now split in 5 layers:
    • Low – Medium – Dense Urban fabric
    • Public_military_industrial
    • Sports

The work done looks fine and th

[2020-02-12 08:56] ghilbrae commented on #64
Thanks, Denis! We'll take a look at all the information you have provided.

@luis-meteogrid I've also found a source of layers (shape) available to download. They are supposed to be the same available in OpenStreetMap: http://download.geofabrik.de/europe.html

[2020-02-12 11:08] DenoBeno commented on #59
I have no idea if Heinrich is using these parameters from the layers in EMIKAT or if he has a table with fixed parameters, but it's IMO a good idea to have correct parameters in the layer.
@humerh , are you using this data? If not please make sure to update the table at EMIKAT table.

But, @stefanon , I think that you may be making an error here. Since we substract the non-building areas from the

[2020-02-12 11:47] negroscuro commented on #59
Correct me if I am wrong, from my side what needs to be fixed is:

To generate values for building_shadow, vegetation_shadow and fua_tunnel in layers which are missing  them (3 Urban Fabric and public military industrial).

This means setting a value of 1 to avoid null values from happening.

--edit--
**Done, missing columns/values where added in those 4 layers and Geoserver is updated.**

[2020-02-12 14:02] stefanon commented on #59
Dear Denis

I'll try to clear things about this misunderstanding:

![image](https://user-images.githubusercontent.com/9317034/74340706-b08a8780-4da6-11ea-838c-4d6f7b183044.png)

![image](https://user-images.githubusercontent.com/9317034/74333846-09ebba00-4d99-11ea-8db3-d6850abda5d2.png)

the built-up density I was talking about, is the sum of the area of built fraction in one grid cell, i.e. for t

[2020-02-12 14:12] stefanon commented on #59
ok

right

yes, I think that you can make an update directly in the postgis database tables

last thing is the attribution of the values for Hillshade_buildings (psi_b) parameter, in funcition of the value of the built density on the grid, as explained before, let me know if I wasn't enough clear or there is any problem.

[2020-02-12 14:43] negroscuro commented on #59
@stefanon yes I still have a question regarding hillshade building.
To find out which value to assign to this parameter I have to check intersection of the layer with urban fabric ones.
Which layer corrsponds to which density? is this correct?

**DENSITY LEVEL             /           LAYER TO INTERSECT**
Very low building density --> public military and industrial
low building density --> low urba

[2020-02-12 16:39] stefanon commented on #59
@negroscuro you already have all the intersections in layers. You need to do, for each grid cell something like this (I'll try to write a sort of pseudo-code):

tot_built_up area :=
  sum(area(low_urban_fabric.geom)) +
  sum(area(medium_urban_fabric.geom)) +
  sum(area(high_urban_fabric.geom)) +
  sum(area(public military and industrial.geom)) +
  sum(area(sports.geom))
  where [layers].codcell =

[2020-02-12 17:11] negroscuro commented on #59
Mmmmh so this means the way hillshade_building value is determined has changed, it is no longer a matter of intersect the geometry of the layer I am creating (roads, built_open_spaces, etc.) with Urban fabric layers like the old excel depicts:
![image](https://user-images.githubusercontent.com/6427900/74358539-e6893500-4dc1-11ea-81db-9603da8cfbff.png)

So now I have to end loading ALL layers of a

[2020-02-12 21:11] stefanon commented on #59
In my view it's not changed in substance, and you know I'm talking about this from some time now. For sure the procedure wasn't well described in the excel file, but anyways the 'change' is also due to the fact that the layers 'xxx urban fabric' are now something different from the polygonal zones present in the UA datasets, and also to the fact that 'roads' and 'railways' are NOT covered by these

[2020-02-13 09:12] negroscuro commented on #59
It is ok, is just for me to understand and be sure what you are asking me to do, no problem :)

Sure an update can be run, but the process has to be aligned with new requirements for new citites to get generated in this way, with appropiate transmissivity values.

It will slow things just a bit,  it is not very relevant, we still save time because of the built_up layer removal decision we took at

[2020-02-13 09:39] stefanon commented on #59
no Mario, it's the inverse, you should do:

\>= 0%    - <= 10%   ---> 1.0
\> 10%  -  <= 25%  ---> 0.9
\> 25%  -  <= 60%  ---> 0.8
\> 60%  - <= 100% ---> 0.6

and the parameter is **Hillshade_buildings (psi_b)** NOT the *transmissivity*

No, it's not ok to make the ranges disjoint, you'll end with unassigned values for sure, you need to use greater than and less than or equal comparisons on the bou

[2020-02-13 11:41] negroscuro commented on #59
Yes my bad, hillshade building, not transmissivity.
Ok inverse values.
You are right I am using real numbers not integer, so I will do exactly as you explained.

Thank you!

[2020-02-13 13:52] negroscuro commented on #59
Database cities are udpated with new hillshade building data.

[2020-02-17 10:48] #63 closed

[2020-02-17 14:45] humerh commented on #59
@negroscuro :
You talked about the 'built_density' index above.
Can you export this index to the layer "LandUseGrid", so I need not calculate this index again on EMIKAT-Side?
I currently implemented another algorithm.

[2020-02-18 09:59] humerh commented on #59
@negroscuro and @stefanon
Can you provide a new column "built_density" in the "Land user Grid".
The description of the calculation was defined by Stefano above in this track.

[2020-02-18 12:38] negroscuro commented on #59
@humerh
sure it is done.

[2020-02-18 14:00] p-a-s-c-a-l commented on #21
I've create a [wiki page](https://github.com/clarity-h2020/data-package/wiki/Template-Resources) that explains how to use **Template Resources** in [Data Packages](https://github.com/clarity-h2020/data-package/wiki/Creating-a-Data-Package).

Let's say you want to add the following [mortality long term exposure](http://urban-sis.smhi.se/thredds/catalog/deliveries/Stockholm/Health_indicators/Air_qua

[2020-02-18 14:02] p-a-s-c-a-l commented on #23
**FYI:** I've create a [wiki page](https://github.com/clarity-h2020/data-package/wiki/Template-Resources) that explains how to use **Template Resources** in [Data Packages](https://github.com/clarity-h2020/data-package/wiki/Creating-a-Data-Package). An example can be found [here](https://github.com/clarity-h2020/data-package/issues/21#issuecomment-587473641).

[2020-02-18 14:02] p-a-s-c-a-l commented on #22
**FYI:** I've create a [wiki page](https://github.com/clarity-h2020/data-package/wiki/Template-Resources) that explains how to use **Template Resources** in [Data Packages](https://github.com/clarity-h2020/data-package/wiki/Creating-a-Data-Package). An example can be found [here](https://github.com/clarity-h2020/data-package/issues/21#issuecomment-587473641).

[2020-02-18 14:02] p-a-s-c-a-l commented on #20
**FYI:** I've create a [wiki page](https://github.com/clarity-h2020/data-package/wiki/Template-Resources) that explains how to use **Template Resources** in [Data Packages](https://github.com/clarity-h2020/data-package/wiki/Creating-a-Data-Package). An example can be found [here](https://github.com/clarity-h2020/data-package/issues/21#issuecomment-587473641).

[2020-02-18 15:31] humerh commented on #59
I checked it now, but it seems, that it is not visible at the moment.

![image](https://user-images.githubusercontent.com/20284964/74750480-11650480-526c-11ea-96aa-ea6888fea625.png)

Maybe you have to reload the geoserver.

[2020-02-18 16:41] negroscuro commented on #59
Sorry, I forgot to update geoserver layer, now it should work.

[2020-02-19 07:23] humerh commented on #59
Now it looks fine. Thank you very much!

[2020-02-19 08:44] negroscuro commented on #59
You are welcome ;)

Load of all cities ended. I implemented the time counter to have an idea on how much time a specific city needs to be generated. This was done when the city load had already started so not all cities are monitorized, but I will do it in future loads. This was the result:

![image](https://user-images.githubusercontent.com/6427900/74816961-6c463c80-52fc-11ea-8530-83ca6436ea3d.pn

[2020-02-19 11:22] p-a-s-c-a-l commented on #56
Any progress here? Is this still important / relevant?
AFAIK supporting better (dynamic) scales would require to implement a SLD  in EMIKAT Geoserver. Do we have time and resources to do that?

[2020-02-19 12:13] p-a-s-c-a-l opened #65 "Basic European Wide Data Package for Basic Screening Studies"
A copy of the European Data Package that is usable in **Basic Screening Studies** has to be created with *all EMIKAT resources removed* and some additional exposure and impact resources added. There are no dedicated exposure datasets available in the European Data Package apart from those calculated by EMIKAT. They are, however, usable in **Automated Screening Studies** only. Same applies to Impac

[2020-02-19 12:16] p-a-s-c-a-l commented on #57
Any progress to report here?

**FYI:** I've create a [wiki page](https://github.com/clarity-h2020/data-package/wiki/Template-Resources) that explains how to use **Template Resources** in [Data Packages](https://github.com/clarity-h2020/data-package/wiki/Creating-a-Data-Package). An example can be found [here](https://github.com/clarity-h2020/data-package/issues/21#issuecomment-587473641).

[2020-02-19 12:46] ghilbrae commented on #57
TBH, there's not much to report we have only received a handful of new data, most of it in PDF or PNG (!) and all of it is private so very difficult to add to the DP.

I'll keep it open for a little longer and then review the status.

[2020-02-19 13:13] humerh commented on #56
Denis and I adapted the SLD definition 2 weeks ago.
The Temperature range is now in range of the new results  30 - 65 degrees.

[2020-02-19 13:33] #56 closed

[2020-02-19 15:01] p-a-s-c-a-l commented on #16
Remaining issues related to resource descriptions to be resolved here: https://github.com/clarity-h2020/csis/issues/140#issuecomment-588273362

[2020-02-19 15:02] p-a-s-c-a-l commented on #16
Remaining issues related to resource descriptions to be resolved here: https://github.com/clarity-h2020/csis/issues/140#issuecomment-588273362

[2020-02-21 09:30] p-a-s-c-a-l commented on #21
I think we can agree that even with the possibility to define Template Resources as [described above](https://github.com/clarity-h2020/data-package/issues/21#issuecomment-587473641), adding those resources to CSIS is still a tedious and not very user friendly task.

Coming back to an idea [formulated by Denis](https://github.com/clarity-h2020/data-package/issues/21#issuecomment-521111025),

i thin

[2020-02-21 09:44] p-a-s-c-a-l commented on #44
Doesn't seem so. Closing.

[2020-02-21 09:44] #44 closed

[2020-02-25 14:54] p-a-s-c-a-l commented on #22
@Itsman-AT What is the status here? Are now all resources needed for a Linz Expert Study available in the respective [Data Package](https://csis.myclimateservice.eu/node/733)? It doesn't seem so.

Moreover, the 3 available map layers are not working:

![grafik](https://user-images.githubusercontent.com/1788226/75258177-5ba73200-57e6-11ea-90c5-0fe6e0746f95.png)

https://datahub.ait.ac.at/geoserver/

[2020-02-26 13:22] Itsman-AT commented on #22
I checked the Geoserver and it had issues in Docker. It should be running again (I see the legends in the map), but the layers are not showing up. I tested the link in the browser and Geoserver responds with:

`Could not find layer geonode:geonode%3Abuilding_2018`

Could there be a problem with the notation in CSIS? The layer's name is just

`geonode:building_2018`

Could you check this?

[2020-02-26 13:51] p-a-s-c-a-l commented on #22
You have to [edit the data package](https://csis.myclimateservice.eu/node/733/edit) and correct the references (service paths) of the respective resources.

[2020-02-26 15:34] Itsman-AT commented on #22
We will also have a look at those. Romana was a bit lost with all the different websites and pages in the past, she said.

[2020-02-27 11:33] p-a-s-c-a-l commented on #22
@Itsman-AT coud you please check what's wrong with your GeoServer?

[code]
Even layer preview does not work:

![grafik](https://user-images.githubusercontent.com/1788226/75438777-d8f2b400-5958-11ea-81ba-66e36442a359.png)

Maybe a problem with the connection to the database (container).

Furthermore, your certificate is invalid, https URLs won't work.

![grafik](https://user-images.githubuserconten

[2020-02-27 11:43] Itsman-AT commented on #22
@p-a-s-c-a-l : I already had a look into it yesterday and it seems that the layers are some kind of password/session protected, since they work in the CSIS interface when you are logged into Geoserver in the same browser.
The certificate is problematic,  it is the LetsEncrypt part of the Docker Image of Geonode which is causing the problems. It is not possible to fetch a new certifcate (I get erro

[2020-02-27 11:46] Itsman-AT commented on #22
![grafik](https://user-images.githubusercontent.com/41750112/75442107-080c2400-595f-11ea-968a-b4aaf904d909.png)

[2020-02-27 11:56] p-a-s-c-a-l commented on #22
O.K, thanks. Regarding the [screenhot](https://user-images.githubusercontent.com/41750112/75442107-080c2400-595f-11ea-968a-b4aaf904d909.png) above, in the [Data Package](https://csis.myclimateservice.eu/node/733/) I'm currently viewing the map layer (still from datahub.ait.ac.at) do not work yet .

[2020-02-27 12:00] Itsman-AT commented on #22
Yes, they won't, you need to be logged into the datahub's Geoserver with user and password, then the layers are visible. This behaviour is strange, since I did not restrict them in the Geoserver layer configuration and they are set to be "announced" to the outside. I will transfer the layers to the other server, as I said.

[2020-02-27 13:07] negroscuro commented on #54
@stefanon  From Naples meeting I was told to calculate:

- streams count per cell (done). Regarding this, I have a question. It is just as simple as intersect streams with cells and count coincidences or we shoud have a condition to count streams in order to avoid counting for small pieces of streams in a cell?

- basins altitude per cell (ongoing). Regarding this, I also have a question. The form

[2020-02-27 22:15] negroscuro commented on #54
After a  hard day with SQL, I manage to find a query to generate basins data:

[code]
When I was about to get done with this I realized that:

![image](https://user-images.githubusercontent.com/6427900/75491876-f0608a00-59b6-11ea-9899-f47380d17ccb.png)

@stefanon As you may notice in the picture there is a cell with 3 basins intersection where percentages are equal so I do not know which one to ta

[2020-02-28 09:52] NICDDB commented on #54
@negroscuro, negative values ​​it is normal that there are, because in the land morphology exist depressed areas.
For basins matter the procedure made by us is:

1. assign altitude from DEM for each cell.
2. assign each basin to a cell; did you this?
    If you have the same parcentage of different basins in same cell, it's not
    too important where it ends up. I suggest you assign it to the bas

[2020-02-28 15:16] negroscuro commented on #54
Ok!

I do not see the point on doing this... what I am doing is to intersect basins and cells, so in can say I have each cell related to a basin, is that enough?

Ok

**This still not clear to me, I have to locate de basin minimum value or I have to find out which is the basin-cell intersection minimum value?**

Thank you!

[2020-02-28 17:32] stefanon commented on #54
Mario the goal is to have for each grid cell the delta height respect to the lowest point of the basin, that is the lowest height of the DEM for the basin: locate the basin minimum height value.

[2020-03-02 11:37] p-a-s-c-a-l commented on #46
Update EMIKAT JSON API URIs has described [here](https://github.com/clarity-h2020/emikat/issues/33#issuecomment-593336482)

[2020-03-03 13:42] DenoBeno commented on #59
I have just realized that large part of the Linz industrial area is _not_ in the urban atlas.

![image](https://user-images.githubusercontent.com/2961790/75781187-0bd3e800-5d5d-11ea-9cdd-eb3540982c9f.png)

Consequently, it's also not in our EU-wide data set. @claudiahahn: please keep this in mind. There is nothing we can do about this now, but it's important to mention this on the Linz Meeting.

!

[2020-03-03 13:52] claudiahahn commented on #59
I was just about to write the same thing.
In Urban Atlas this part of the city is classified as "port area"

[2020-03-03 14:04] claudiahahn commented on #59
I thought the same issue might occur at the airport. The vegetation areas and built open spaces are displayed there, but the houses are not displayed either. Maybe it is because the port and airport areas from Urban Atlas (any others are missing too?) are not explicitly used during the process of layer generation. Then the houses from the European settlement map are not visible anymore, because th

[2020-03-03 14:04] claudiahahn commented on #59
![grafik](https://user-images.githubusercontent.com/45260352/75783133-55720200-5d60-11ea-9b00-2df1cc394d7e.png)

[2020-03-03 14:05] DenoBeno commented on #59
Ha, I just realized this too. Writing an e-mail to people involved.... In Vienna, the airport is missing.

- 12300:     Port areas
- 12400:     Airports

[2020-03-03 14:11] claudiahahn commented on #59
here are the original UA layers
![grafik](https://user-images.githubusercontent.com/45260352/75783644-2c05a600-5d61-11ea-9914-c8fd2cb5aa06.png)

[2020-03-03 14:27] claudiahahn commented on #59
I guess you  (@humerh, @DenoBeno,   @stefanon, @negroscuro) have already talked this through in Naples, but just to make sure:
Is there an issue/ will it create problems when dense urban areas (etc.) are now only the buildings and not anymore the whole area (including roads, built open spaces etc.) I remember @mattia-leone  mentioning that all these areas need to have dense/medium/low urban fabric

[2020-03-03 14:32] claudiahahn commented on #59
and let us know about the conclusion

[2020-03-03 15:25] DenoBeno commented on #59
The way I remember the discussion, we came up with a conclusion that these building layers are useful and that we don't need to worry about patchiness because they will be translated into % of the area covered by buildings in the end anyway. So instead of having just few discrete classes, we end up with anything between 0% and 100% or an 500m*500n area being covered by buildings.

And now somethin

[2020-03-03 16:35] negroscuro commented on #59
That pink triangle is a sports layer area, which corresponds to UA code 14200...

@stefanon / @mattia-leone / @NICDDB / @claudiahahn ... an idea or suggestion is to add those codes to current public_military_industrial layer (UA code 12100), is this ok? (to include UA2012 ports code 12300 and airports 12400)

[2020-03-04 08:49] claudiahahn commented on #59
email communication -
Mario: It is just a matter of decide where to publish them (port and airport areas). Any suggestion?
Denis:  I think that this should be up to Mattia and maybe Claudia.

From my point of view, this isn’t all that different from “industrial” layer, so we could just add it to it. The advantage is that EMKAT already uses this layer in calculations, so nothing else would need to

[2020-03-04 08:50] claudiahahn commented on #59
Assigning it to the public, military and industrial class seems to be ok since their use is not that different and the percentage of artificial surface/ soil sealing can vary substantially for all of these Urban Atlas classes.

I am not sure if there are any constraints regarding the calculation of the local effect.

This is also related to the use of the new layers in general and the way the calc

[2020-03-04 08:50] claudiahahn commented on #59
Another thought:
If we want to use these layers also for the exposure analysis (for a basic screening) it might be interesting to see where the port and airport areas are, however, in that case we would not only need the buildings in that area but the whole area…. So for the exposure analysis the original urban atlas class would be useful …

[2020-03-04 09:21] negroscuro commented on #59
The way hillshade building is calculated changed from Naples meeting and now corresponds to:

#VARIABLE VALUE OF HILLSHADE_BUILDING FOR LAYERS:(roads,railways,vegetation,agricultura_areas,built_open_spaces)
The other layers will be set to hillshade building value of 1 as default.

#BUILT AREAS PERCENTAGE IN A CELL IS THE SUM PERCENTAGES OF LAND USE OF LAYERS: (sports,dense_urban_fabric,medium_urba

[2020-03-04 09:39] stefanon commented on #59
Something changed indeed about the dense urban areas (etc.), that are not anymore the whole areas, but the total built up area percentage per cell is classified and used to attribute parameters in the dependent layers (see discussion above).

[2020-03-04 10:01] stefanon commented on #59
About port / airports:

![image](https://user-images.githubusercontent.com/9317034/75866149-edc1c280-5e04-11ea-9cfc-a47b18a7b13f.png)

for Naples they look almost good, and divided in component areas, greenery, open spaces,  what seems missing are the buildings in these areas, see picture for Capodichino airport, but the same happens also for the port area, and for the UA codes 13400 'land without

[2020-03-04 12:11] stefanon commented on #59
I'm writing here about this point I've read in recent email:

Parameters 'hillshade buildings' and 'hillshade green fraction' have misleading names, as they refer in the model formula to the  fraction of the sky that is visible and not 'blocked' by buildings or vegetation, so that solar radiation can pass. The presence of shadow is linked to other 2 parameters. In the process of simplifying a mode

[2020-03-04 20:25] negroscuro commented on #59
mmmh I still do not know what to do, let me know what should I do with ports and airports (if use public_military_industrial or new layer and which parameter values in that case)

[2020-03-05 09:01] stefanon commented on #59
@negroscuro Mario, can you find a fix for missing buildings in port / airport areas?

[2020-03-05 09:58] negroscuro commented on #59
Sure, the only question from my side is... which kind of fix?

As it was already said by Dennis I can modify a current layer to include those ports and airport areas defined in Urban atlas with codes 12300 and 12400 which we were not importing/considering.
The other fix is to import those UA codes to a new specific layer, which is more work but in the end equally feasibile, I say more work because

[2020-03-05 12:12] stefanon commented on #59
Sorry, I didn't express myself well:  for what I see the problem is related to the missing buildings in those category areas, if including their codes in the scripts solves, than that's fine. I don't see the need of another layer, the related buildings can be added to the industrial-public-military category, as really they are these kind of structures.
The other voids I've found are related to cod

[2020-03-05 12:32] negroscuro commented on #59
Nice, then to summarize:
- 12300 and 12400 should be added to Public_military_industrial layer.
- 13300 added to built_open_spaces layer (this makes layer using ESM and UA).
- 13400 added together with 33000 (which is already in layer Vegetation).

This implies to delete cities data and generate them again, let me know if it is a problem.

[2020-03-05 15:14] stefanon commented on #59
Ok. Not a problem, the sooner start, the sooner finish :)

[2020-03-06 08:01] DenoBeno commented on #59
This sounds good.

Now there is another issue that I mentioned in https://github.com/clarity-h2020/data-package/issues/59#issuecomment-594007917

In the picture below, the triangular artefact is falsely attributed to "sports buildings".

![image](https://user-images.githubusercontent.com/2961790/75790661-cf5bb880-5d6b-11ea-8c44-0724bdf0379f.png)

There is no such building there and there is nothin

[2020-03-06 14:14] DenoBeno commented on #59
https://land.copernicus.eu/user-corner/technical-library/clms_artificial_land_study_report_sc03_1_2.pdf explains the ESM land clases.

13 layers of ESM:
 Class 0: No Data
 Class 1: Water
 Class 2: Railways
 Class 10: No Built-Up Area – Open Space
 Class 15: No Built-Up Area – Streets
 Class 20: No Built-Up Area – Green Area
 Class 25: No Built-Up Area – Street with some vegetation
 Class 3

[2020-03-09 07:15] p-a-s-c-a-l commented on #65
Did you have a look at this @DanielRodera

[2020-03-09 08:34] DanielRodera commented on #65
Hi, I will take a look with Alejandro withing today

[2020-03-09 09:39] p-a-s-c-a-l commented on #65
See https://github.com/clarity-h2020/data-package/issues/60

[2020-03-09 12:08] DanielRodera commented on #65
I have tried this [module](https://www.drupal.org/project/quick_node_clone
) in my local instance and it works,

Is quite straight forward to use, once installed you have to clear the cache and in the Data Package module will appear a button called "clone". Is just a matter of clicking it and a copy of the DP will be generated.

@patrickkaleta, would you mind install the module on the CSIS? once i

[2020-03-10 11:59] negroscuro commented on #54
This is Linz and its intersecting basins:

![image](https://user-images.githubusercontent.com/6427900/76310114-742b4800-62ce-11ea-99e4-957739b98e0c.png)

I realized I was doing things wrongly since I was only calculating basins altitude considering city area DEM and I have to use DEM for whole area covered by tha basins in order to calculate minimum altitude of a basin.
So I have to generate speci

[2020-03-11 15:35] negroscuro commented on #59
We are currently using from ESM:
- vegetation with ESM class40
- built_open_spaces ESM class30
- (ESM class50 was used for built_up layer but it is no longer used)

So I would expect @stefanon to clarify if your observations are fitting the scientific point and if so have specific instructions on what to implement for me to work on it.

[2020-03-12 11:17] negroscuro commented on #54
After some troubles I manage to fix basin altitude calculation for each city cell.

The conclusion is some cells of a city does not have area of intersection with any basin (basin column is null) or DEM raster (altitude colun is null) which makes imposible to calculate this value (minimum column is null) but those are only a few cells of a city.

So take this into account and notice values in ATOS

[2020-03-12 14:53] negroscuro commented on #54
I was testing with a small city and it worked but now I moved to a bigger one:

reggio di calabria 2061 cells --> worked
kaunas 6884 cells --> failed

This was the error:

`BBOX BASINS DEM: 5026200 3385700 5479400 3773500
...generating DEM for basins of KAUNAS...
Input file size is 282250, 216640
0...10...20...30...40...50...60...70...80...90...100 - done.
Processing 1/1: /data/KAUNAS/dem/dem_KAUN

[2020-03-12 17:06] stefanon commented on #59
I've downloaded all the needed data for Linz and checking them, what I see is that in some places the 'sports (buildings)' layer didn't work well, as pointed by Denis, while for Naples I see only the buildings of sports and leisure facilities to be part of this 'sports' layer… @negroscuro  can you 'update' me on how do you produce the 'sports' layer? thank you.

[2020-03-12 18:38] stefanon commented on #54
@negroscuro Where are you experiencing that error? How's your approach to this calculation?

[2020-03-12 22:56] negroscuro commented on #54
This is an error that happens while generating the DEM tile covering the basins area of the city with GDAL commands. It looks like for that resolution and such a wide area the file is too big and the process consumes too much resources.

The proccess is:
- 1st I find out the coordinates for the bounding box of the basins set overlaping city boundary with SQL
- 2st I generate the raster of DEM for

[2020-03-13 09:16] negroscuro commented on #59
Sure @stefanon , the proccess is:

- Extract data from UA2012 shapefile of the specific city by using code 14200 which corresponds to sport and leisure facilities. And insert in Postgresql database.
- Gridding UA geometries in database to have 1 geometry per 500m cell.
- Remove any intersection with previous layers of the city which are (trees,vegetation,agriculatural_areas and built_open_spaces)

[2020-03-13 09:28] stefanon commented on #54
So it's during GDAL processing, what is the resolution you're using now that works?
For negative values I suppose the DEM can have depressions under quota 0, can you let me have a look at what raster you're processing? thanks.

[2020-03-13 09:37] negroscuro commented on #54
Yes during GDAL, some kind of resource lacking. Well I reduced resolution to half and seems to be working, now I am trying with heavier/larger cities with more than 30.000 city cells.

The original DEM raster is at ATOS FTP: `/clarityftp/europe/eu-dem/eu_dem.zip`
It is a heavy file which contains 27 TIF's to be unzipped and then I created a tile index shapefile by using a VRT file to access it as

[2020-03-13 09:51] stefanon commented on #59
I understand, but I'm trying to find the origin for the differences we're experiencing for 'sports' layer… For Naples, I find that 'sports' contains the built-up part of what UA categorizes as 'sport & leisure' facilities, but, in the Linz area, the green part is instead included in 'sports' layer.

[2020-03-13 10:35] negroscuro commented on #59
Well I am not sure how to help with that since it is the data as it is... but if you take any decision on which UA codes to use or ESM classes to change any of the current layer proccess generation, just let me know.

[2020-03-16 09:54] patrickkaleta commented on #65
The module is now available in the CSIS.

[2020-03-18 07:20] DenoBeno commented on #65
Cloning the data packages is probably OK, but cloning the lower level entities could cause trouble. What is the consequence of cloning the data package on all the resources and other entities that are linked within it? Do they all get cloned too? Ideally they shouldn't be, but the paragraphs (do we use any?) should.
Assuming that this both works as it should, we still have one problem: cloning an

[2020-03-18 07:56] p-a-s-c-a-l commented on #65
We just need a **shallow copy** of the Screening Data Package. Resources have to be cloned **by reference** not **by value**. Otherwise updates in either data package won't be reflected. We don't want to duplicate all resources.

[2020-03-18 08:11] patrickkaleta commented on #65
Yes, you're absolutely right. For this very specific use case here it's ok to use this module and @DanielRodera is aware of what the module can and can't do. This module can only be used by admins and no one else.

[2020-03-18 18:45] negroscuro commented on #54
Pluvial flood data seems to be correctly generated by last week changes I was working on.
Now I am loading the 18 cities with correct pluvial flood data.

[2020-03-18 18:45] negroscuro commented on #59
Let me know if I should change/add anything to local effects input layer generation...

I am happy to share with you that city loading process was successfully improved and performance is much better.
Last try was Barcelona which was taking around 7 hours on loading heat wave layers. After last weeks changes it took only 3h35m but loading not only heat wave layers but also pluvial flood layers.

[2020-03-19 16:48] DanielRodera commented on #65
Hello,

I have tried the module locally again with Miguel Angel and it clones only the references, not the resources.

Regarding the rights, as Patrick said, only admins can clone the Data Packages.

If you want to try the module safely before using it in the production environment we could install it in the development server and see if fits your needs. WDYT?

[2020-03-19 17:06] p-a-s-c-a-l commented on #65
Ok. We should be Clear about the Terminology. Are you Talking about refrences in General or datapackage references?

Von meinem iPhone gesendet

[2020-03-23 08:49] DanielRodera commented on #65
I talking about the DP packages references. The module clones these references, not the resources.
I think is what we are looking for.

[2020-03-23 13:16] stefanon commented on #59
@negroscuro Hi, already sent an email: about adding UA code 13400 (land without current use) and other we talked about  13100, 13300 is work in progress or already done for some city? Same question for 12300 and 12400, otherwise I'm not able to understand what is included and what not in the current layers I can get from geoserver. Please. let me know your skype contact name too.

[2020-03-23 13:30] DenoBeno commented on #59
Last week, @negroscuro said that Barcelona has been re-calculated and one can indeed see that e.g. Montjuic looks much better now.
However, something is wrong at the airport and probably also in the industry zone - it seems that the open spaces aren't correctly subtracted from the buildings (e.g. from the "ports & airports" layer).

[2020-03-23 13:58] DenoBeno commented on #59
The reason for discrepancies in Linz is mainly this:

- buildings in the port area not included
- "green non urban areas" not subtracted from "building areas". E.g from
the "sports and leisure" layer.

On Mon, 23 Mar 2020, 14:16 stefano nardone, <notifications@github.com>
wrote:

[2020-03-24 11:45] p-a-s-c-a-l commented on #65
Yes, we should try on csis-dev.ait.ac.at.

I'm not sure if this is what we want. If you modify a [dp_reference](https://csis.myclimateservice.eu/admin/content?title=&type=dp_reference&status=All&langcode=All) entity of a shared resource which is both used in the Automated European Screening Data Package and the Basic European Screening Data Package, you must be aware that your changes are not refl

[2020-03-25 11:18] negroscuro commented on #59
I spotted the error. It was due to a wrong generatino of built_open_spaces that were o susbtracting area enough (as a consequence of recently update to add UA data to this layer generation). So now it is corrected and I am deleting and loading all 18 cities once again.

This is not correcting Linz area issues related to sports/grass areas, sonow Linz is loaded but I am not sure what to do with it

[2020-03-25 12:48] DanielRodera commented on #65
Hi,

The module only clones the Data Package (only the first level) not the dp_resource, dp_source neither the dp_contributor, the rest are references to the original nodes. If we want to add/remove more resources or other of the DP attributes we will have to do it manually.

@patrickkaleta could you please install the module on the csis-dev.ait.ac.at.?? thanks!

[2020-03-25 13:16] p-a-s-c-a-l commented on #46
done

[2020-03-25 13:16] #46 closed

[2020-03-25 13:45] p-a-s-c-a-l opened #66 "Update CLARITY GeoServer URIs"
Once the [Export of Geoserver layers from MTG to ATOS](https://github.com/clarity-h2020/ckan/issues/23) has been completed. We have to update all GeoServer URIs of respective [resources](https://csis.myclimateservice.eu/admin/content?title=&type=data_package_metadata&status=All&langcode=All). AFAIK @therter knows how to do it directly on the level of the database.

Furthermore, I've noticed that t

[2020-03-25 16:51] patrickkaleta commented on #65
@DanielRodera it's done, you should be able to use is on that site.

[2020-03-25 18:01] negroscuro commented on #66
We plan to move to the new instance so probably it does not worth the effort to secure the old one.

[2020-03-26 19:11] DanielRodera commented on #65
Thank you @patrickkaleta,

I have cloned the Data Package, I have named _Clone of European Wide Data Package_,

@p-a-s-c-a-l , could you please check if is what we are looking for? thanks!

[2020-03-30 07:44] negroscuro commented on #59
![image](https://user-images.githubusercontent.com/6427900/77887342-b2cb7700-726a-11ea-82d2-c0e1be45dbe9.png)

17 out of 18 cities loaded, but Athina is going to take ages, you can see total time of each city in the picture, notice Helsinki took 34h!
This is due to the new UA codes included and the more complex pluvial floods calculations were implemented.

[2020-03-30 07:45] negroscuro commented on #54
![image](https://user-images.githubusercontent.com/6427900/77887342-b2cb7700-726a-11ea-82d2-c0e1be45dbe9.png)

17 out of 18 cities loaded, but Athina is going to take ages, you can see total time of each city in the picture, notice Helsinki took 34h!
This is due to the new UA codes included and the more complex pluvial floods calculations were implemented.

[2020-03-30 08:40] therter commented on #50
The Access-Control-Allow-Origin header is not set again. See also [here](https://github.com/clarity-h2020/csis-helpers-module/issues/9#issuecomment-605862917).

[2020-03-30 09:29] p-a-s-c-a-l commented on #57
FYI: https://github.com/clarity-h2020/data-package/issues/21#issuecomment-587473641

[2020-03-30 14:48] negroscuro commented on #54
I recently updated European data package in CSIS.

I included URLs to check data availbaility for local effect input layers. Remember you can use the map on the following links and click on the desired city boundary to confirm availability since once you click a small table will be shown on the bottom of the web page, under the map component. A city with time value under heat wave or pluvial flood

[2020-03-31 07:25] DenoBeno commented on #59
Another error discovered. :-(

In Stockholm, this is what we get:
![image](https://user-images.githubusercontent.com/2961790/77998434-639c4980-7331-11ea-8ade-051a0cf5958f.png)

Don't know how important this is, but this is mostly water with just a few pears. I suppose the water should be subtracted too? Or can we live with this?
@stefanon , wdyt?

Interestingly enough, we do not get this in Naples

[2020-03-31 07:45] negroscuro commented on #59
It is strange since yesterday I included legend texts and you still have only colors without text description...

[2020-03-31 11:45] negroscuro commented on #59
Conclusion after today's telco is to:
- Add ESM20 to layer vegetation using same tresshold value for raster poligonization

[2020-03-31 11:50] negroscuro commented on #54
Regarding pluvial floods I was told to include a new parameter into land_use_grid layer which is run_off_average of a cell, it is a heighted average of run_off_coefficient based on percentages of land use within a cell.
It is available for all generated cities (which are 19 im total right now)

[2020-04-02 11:00] p-a-s-c-a-l commented on #65
O.K. This looks good, thanks!
I think can now go ahead , clone the DP in csis.myclimateservice.eu instance and remove resources that require a EMIKAT Study ID.

[2020-04-04 12:15] DanielRodera commented on #65
Good to know ^^, I have cloned the DP and I named it as _Clone of European Wide Data Package_. I will remove the references to EMIKAT ASAP and I will let you know.

[2020-04-06 12:27] p-a-s-c-a-l commented on #41
This causes now more [trouble](https://github.com/clarity-h2020/csis/issues/156#issuecomment-609766874) than benefits.

[2020-04-15 09:46] DanielRodera commented on #65
Done,

FYI, making some tests in the dev instance of the CSIS I have removed one dp_resource by mistake. My apologies...

[2020-04-16 12:30] p-a-s-c-a-l commented on #65
which one? Did you **delete** the actual dp_resource instance or did you just remove it from the data package?

[2020-04-16 12:48] patrickkaleta commented on #65
@DanielRodera with "dev instance of the CSIS" I'm guessing that you're talking about this URL:
https://csis-dev.ait.ac.at/ right?
If that's the case than it doesn't really matter that a resource got deleted.

Looking at the [log files](https://csis.myclimateservice.eu/admin/reports/dblog?type%5B%5D=content&hostname=) of or "main" [CSIS](https://csis.myclimateservice.eu/) I don't see anything about

[2020-04-16 13:03] DanielRodera commented on #65
@patrickkaleta, yes, I am talking about https://csis-dev.ait.ac.at/.

Uff, good to know^^

@p-a-s-c-a-l , In the "main" CSIS (https://csis.myclimateservice.eu), I removed the references to the **dp_resources** from the **cloned** DP which requires an EMIKAT Study ID, as we agreed. I didn't touch the original one.

Sorry again for this!

[2020-04-21 10:59] p-a-s-c-a-l commented on #66
What is now the correct instance for **all** layers (hazard + hazard-le input layers)? https://geoserver.myclimateservice.eu/ ?

We have to make the changes in the data packages before we set up the [synchronisation](https://github.com/clarity-h2020/csis/issues/135#issuecomment-617103328) between DEV and PROD instance of CSIS and also in EMIKAT which [currently](https://github.com/clarity-h2020/cs

[2020-04-23 01:27] negroscuro commented on #59
I would like you to know that adding ESM20 to vegetation results in having input layers calculated in 2h instead o 15m for Alba Iulia, I do not know if this is worth the increment...

I was trying loading city of Tirana:

![image](https://user-images.githubusercontent.com/6427900/80340622-42ac1300-8861-11ea-8ed2-6c0f2b0f406c.png)

I had to stop it after more than 60h of processing. It does not mak

[2020-04-23 14:20] p-a-s-c-a-l commented on #57
Are there still plans to make this data available in CSIS?

If not, do we need to keep the meta-data in CKAN and thus also in the Data Management Plan?
There are several issues with [these datasets](https://ckan.myclimateservice.eu/dataset/?tags=RESCCUE), that would have to be resolved before we can publish [the DMP](https://github.com/clarity-h2020/ckan/issues/32). Some RESCCUE datasets are marke

[2020-04-23 14:22] p-a-s-c-a-l commented on #50
What is the status? This is also related to https://github.com/clarity-h2020/data-package/issues/66

[2020-04-24 08:04] DenoBeno commented on #59
Yes, ESM 20 is important e.g. in Linz. I can imagine that there is a lot of it in smaller towns.

[2020-04-27 11:49] negroscuro commented on #59
I started some testing with Postgresql12 and Postgis3 to see if performance improves since I understood it implements parallel processing, but I am not optimistic...
Land use layers are still available in Atos Geoserver since I migrated entire database. Also legend issues are fixed.

[2020-04-28 07:45] negroscuro commented on #59
It is still taking ages to process. I think it take an absurd amount of time but I do not know how improve it.

[2020-04-28 16:07] stefanon commented on #59
Hi @negroscuro, I don't know what is the step in the process that is taking so long, can you give info?
In the processing I'd done by hand in Qgis for layers, raster to vector conversion was time-consuming, and after that step, I performed a cleaning of the produced vector (with GRASS v.clean from the toolbox if not using Postgis) and a multipart to single polygon split that also shortened the tim

[2020-04-29 08:44] negroscuro commented on #59
Yes, the problem is ESM20 brings LOTS of geometries making the processing slower for vegetation layer which was already the slowest.
Vectorizing a raster can take quite some minutes but never hours, the critical processing comes after that when my process cut original geometries with 500m european grid and then do the union within each cell (I do this with every land use layer). This way I can gua

[2020-04-30 09:58] therter commented on #59
if the table "$NAME" contains large geometries, it should be faster to make the intersection first. So the statement should look like this:

`
INSERT INTO "$NAME"_grid (geom,city,cell) (SELECT ST_Multi(ST_CollectionExtract(ST_MakeValid(ST_SnapToGrid(ST_Union(ST_Intersection(a.geom, m.geom)),0.0001)),3)) as geom, "$ID" as city,m.gid as cell FROM "$NAME" a, laea_etrs_500m m, land_use_grid l WHERE l.

[2020-04-30 15:13] negroscuro commented on #59
THANK YOU @therter  I will give it a try

--- edit ---

I did some tests after removing some more lines in the script and avoid using a temporary table. I ensure european 500m cells had a spatial index, and I created one also for vegetation geometries from poligonization of an ESM raster and UA vector data. Then I ran my SQL query to intersect and do union and results in performance being the same

[2020-05-04 07:26] p-a-s-c-a-l commented on #65
In the [Basic Screening Study](https://csis.myclimateservice.eu/taxonomy/study-type/basic-screening), we need to show some Exposure, Hazard and "Impact" because EMIKAT result's aren't available.:
- **Hazard**: This is easy, We can directly use the European Hazard resources
- **Exposure**: Here we want to the the HC-LE input layers, re-tagging them as exposure
- **Impact**: Here we want to show Haz

[2020-05-05 10:12] negroscuro commented on #59
I have been testing for a while (with data for Alba Iulia which is a small city of 1166 cells. It took around 15min to load without ESM20 and now with ESM20 it takes more than 3hours) and the query works fast because european grid cells are known and accessed via FK (to avoid slow spatial operations), but the calculation itself which includes union and intersection to generate (spatial operations)

[2020-05-05 10:53] stefanon commented on #59
Mario, have you tried to split the bold part in successive queries? I  mean, doing first the union (dissolve) then makevalid then the intersection? required resources should be less.

[2020-05-05 18:51] negroscuro commented on #59
I ensure spatial indexes are set in grid table and in vegetation temporary table which is used to generate 'gridded' geometries.
I also configured Postrgesql12/Postgis3 to provide parallel processing after some research by setting up some configuration values.
Now I am running Alba Iulia to see if there is any imporvement and it result in 2h45m, this means it improved from 3h:30m but before includ

[2020-05-06 08:59] p-a-s-c-a-l commented on #20
I had a look at DC1 data described [in CKAN](https://ckan.myclimateservice.eu/organization/dc1?groups=non-open-data-produced-by-clarity) and CLARITY sFTP (sftp://5.79.69.49/clarityftp/dc1-naples/), but I have no clue how to map this to respective Hazard, exposure, Impact, .. resources in the Data Package. Furthermore, the data has to be made available
- on [CLARITY GeoServer](https://github.com/cl

[2020-05-07 14:05] p-a-s-c-a-l commented on #59
Can this be scaled up to 96 CPUs? 😃
Did you see the mail @DenoBeno forwarded to CLARITY-ALL?:

[2020-05-08 10:44] negroscuro commented on #50
It should be already solved, did you checked?

[2020-05-08 14:52] therter commented on #50
No, this is not solved, yet. But perhaps this will be solved, when the new geoserver is used.

[2020-05-12 08:37] p-a-s-c-a-l commented on #66
Question to @DanielRodera & @maesbri

@therter can prepare the update statements

[2020-05-12 11:23] p-a-s-c-a-l commented on #50
Yes. I assume that **all** layer will be served from https://geoserver.myclimateservice.eu/
See also https://github.com/clarity-h2020/data-package/issues/66#issuecomment-627198788

[2020-05-13 07:55] DenoBeno commented on #59
First, let me say that **I'm in favor of using the brute force here if it is  possible to run your scripts on several machines in parallel**. E.g., would it be possible to have a copy of everything needed to generate these layers as a virtual machine? If yes, we coudl install such virtual machines on several PCs and let them do the crunching in the background...

Not to mention the "96 CPUs free o

[2020-05-13 08:58] p-a-s-c-a-l commented on #57
Is this still being worked on? Otherwise we should close this issue.

[2020-05-13 10:24] therter commented on #66
The following update statements will adjust the geoserver urls, if only the url base must be changed.

[code]

[2020-05-15 13:33] p-a-s-c-a-l commented on #65
**Generic** filtering by arbitrary taxonomy *id* is not easily possible. See https://github.com/clarity-h2020/map-component/issues/96#issuecomment-629235840

So we have to use the `name` field, which is also the "title" of a taxonomy term. 😒

[2020-05-18 14:54] p-a-s-c-a-l commented on #65
Map is updated and shows e.g. [on RA/IA Map](https://csis.myclimateservice.eu/study/137/step/4125/view/maps) 'CLARITY Background' as 'Elements at Risk' + Hazard Layers. Test Study available [here](https://csis.myclimateservice.eu/study/137/).

[2020-05-26 11:00] therter opened #67 "New geoserver (geoserver.myclimateservice.eu) uses different layer names"
@ghilbrae @DanielRodera The new geoserver uses an other naming convention for the layer names (not the title). It uses a underscore instead of a minus between dates.

For example the layer europe:CI_frost-days_rcp85_20110101-20401231_ensmean  has now the name europe:CI_frost_days_rcp85_20110101_20401231_ensmean

This should be corrected, because the names will be automatically built by the mapping

[2020-05-26 11:29] ghilbrae commented on #67
We'll have to look into it but it seems it is something geoserver has done on its own. We used an import module within geoserver and it seems it might have changed that for whatever reason.
What do you think @DanielRodera any insights into this?

[2020-05-27 06:36] p-a-s-c-a-l commented on #64
Is this still relevant? For which purpose do you need this data? As input for models or just for visualisation purposes? In the later case, OSM is already available in CSIS as one of the **Base Layers**:

![grafik](https://user-images.githubusercontent.com/1788226/82985679-c25e0680-9ff4-11ea-93e9-92ef8f57a6ae.png)

[2020-05-27 08:17] p-a-s-c-a-l commented on #67
@therter Is this at least consistent across all layers? Can you check if the layer names are actually used in data packages? With the introduction of template resources, the time period part of the URLs *should* have been replaced by $time_period in all URLs.  In this case we could simply change the [variables](https://csis.myclimateservice.eu/taxonomy/term/5697).

However, this does not apply to

[2020-05-27 08:59] therter commented on #67
Yes, it is.

At least in the Naples data package are the layer names used. But I can use update statements to change the layer names in the database. That shouldn't be much effort.

[2020-05-27 09:04] DanielRodera commented on #67
Hi guys,

We are looking into this to find out is there is a way to change all the names quickly.

If we have to change all the names by hand I am afraid it will take too much time,

I will keep you updated,

[2020-05-27 09:17] p-a-s-c-a-l commented on #67
@humerh @DenoBeno @patrickkaleta Does this have any influence on EMIKAT?

[2020-05-27 11:35] humerh commented on #67
The link https://geoserver.myclimateservice.eu/geoserver is not reachable. What is the new address??

[2020-05-27 11:45] DanielRodera commented on #67
Hi Heinrich,

We stopped the Geoserver for a moment to make a backup, should be reachable again,

Sorry for the inconveniences

[2020-05-27 11:49] p-a-s-c-a-l commented on #50
@therter did you check the screenshot functionality with the new geo server? Can we close this issue?

[2020-05-27 11:52] p-a-s-c-a-l commented on #65
It's not perfect yet, but it's working. So closing. Ideas for improvement are discussed [here](https://github.com/clarity-h2020/csis/issues/161).

[2020-05-27 11:52] #65 closed

[2020-05-27 12:40] therter commented on #50
Yes, I have checked this and it works

[2020-05-27 12:40] #50 closed

[2020-05-27 17:23] DanielRodera commented on #67
Hi everyone,

We have changed the names of all layers to the name they should have,

@therter, could you please try again?

If you find any problem please let me know,

[2020-05-27 17:29] therter commented on #67
Thanks, it works

[2020-06-02 08:58] humerh commented on #67
Sorry, I have problem with the new geoserver.
My internal call to the geoserver is this:
https://geoserver.myclimateservice.eu/geoserver/clarity/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=clarity%3Aland_use_grid&maxFeatures=100000&bbox=16.317125%2C48.250858%2C16.51531%2C48.290538%2CEPSG:4326&outputFormat=SHAPE-ZIP

I get the error message:

" Illegal property name: for feature type

[2020-06-02 09:05] p-a-s-c-a-l commented on #67
@therter perhaps you can have a look and enable SHP download?

[2020-06-02 09:28] DanielRodera commented on #67
Hi @humerh, is solved,

If you have any other request let me know,

[2020-06-03 09:32] claudiahahn opened #68 "Integrate SWICCA data in European data package"
So far the SWICCA data is not included in the European data package yet.

@p-a-s-c-a-l , @LauraMTG , @luis-meteogrid, @ghilbrae:  What would be the best option to do that?

Lena has provided a link to the data via CKAN (e.g.: https://ckan.myclimateservice.eu/dataset/swicca-temperature-precipitation-hydrological-variables/resource/9543069f-c2fd-48aa-bc90-14d1bb688702)

For the climate indices from

[2020-06-03 11:11] p-a-s-c-a-l commented on #68
Yes, the data has to be put on [ATOS GeoServer](https://geoserver.myclimateservice.eu/geoserver/web/), therfore I added @DanielRodera

FYI: ATM we are experiencing [some issues](https://github.com/clarity-h2020/ckan/issues/23#issuecomment-638043552) with the new GeoServer instance, these have to be resolved before we can add any more data to the server.

[2020-06-03 11:34] DanielRodera commented on #68
Are these resources being served on the SMHI server (via WMS or WCS) at the moment?

If yes, we think we should concentrate Atos efforts on the generation of the input layers and keep the SWICCA layers as they are for the moment. Later on, we can add to the Geoserver without a problem.

If not, we would need one layer for each period formatted as a GeoTIFF. Also, Geoserver datastore´s name and the

[2020-06-03 12:37] claudiahahn commented on #68
Thank you @p-a-s-c-a-l and @DanielRodera!

If the data is available on the SMHI server, it would be enough to insert the link to the respective file in the resource description in CSIS, right?

@LenaStr what do you think? It seems to be the easiest way to integrate the data right now.

[2020-06-03 13:23] p-a-s-c-a-l commented on #68
Only if the data served via **Web Map Service**, otherwise it has to imported into ATOS GeoServer. It seems that the origin of the data is [this THREDDS Data Server](https://swicca.smhi.se/thredds/catalog/SWICCA/catalog.html), which has an WMS endpoint. So well' just need to generate the respective `getMap` requests pointing to the resources on SWICCA THREDDS.

So what we would need now is for eac

[2020-06-04 08:21] LenaStr commented on #68
The data is now also available in the Copernicus CDS which is a better source for long time preservation than the SMHI server.
 https://cds.climate.copernicus.eu/cdsapp#!/dataset/sis-water-quantity-swicca?tab=overview

Please include Yeshewa in this discussion as he knows the details for this datasets and which were selected for Clarity.
I do not have time to act on this for the moment. (Yesehewa,

[2020-06-04 08:27] claudiahahn commented on #68
I couldn't find Yeshewa. Did he create a github account? I will write him an email

[2020-06-04 09:06] p-a-s-c-a-l commented on #68
@yhundecha

[2020-06-04 09:10] claudiahahn commented on #68
that was a mistake, sorry

[2020-06-05 06:59] p-a-s-c-a-l commented on #68
O.K. now we have **three** data sources:
- [cds.climate.copernicus.eu](https://cds.climate.copernicus.eu/cdsapp#!/dataset/sis-water-quantity-swicca?tab=overview)
- [CLARITY CKAN](https://ckan.myclimateservice.eu/dataset/swicca-temperature-precipitation-hydrological-variables)
- [SMHI Thredds](https://swicca.smhi.se/thredds/catalog/SWICCA/catalog.html)

Which one is the right one? What data has to

[2020-06-05 07:20] yhundecha commented on #68
The data in all the three sources are the same. The first and third do have more data than we would like to have into the European Data Package. The data that need to be put into the data package are those already put in CLARITY CKAN.

[2020-06-05 07:29] p-a-s-c-a-l commented on #68
O.K. thanks! So we are talking about three datasets:

- Flood recurrenceNetCDF - spatial resolution: 5 degree grid, Data for different recurrence periods...
- River flowNetCDF - spatial resolution: 50 km / catchment (irregular grid)
- Water runoffNetCDF - spatial resolution: 50 km / catchment (irregular grid)

Where do i find them on [SMHI Thredds](https://swicca.smhi.se/thredds/catalog/SWICCA/cat

[2020-06-05 07:55] yhundecha commented on #68
All three are at 0.5 degree grid. The 50km is mentioned as an approximate linear grid size.

[2020-06-05 08:06] p-a-s-c-a-l commented on #68
So where do I find e.g.

- crun-periodavg_ref_EUR-44_rcp26_IMPACT2C_QM-EOBS_1971-2000_remap0.5.nc
- cout-perc1_ref_EUR-44_rcp26_IMPACT2C_QM-EOBS_1971-2000_remap0.5.nc
- cout-yearmax_returnPeriod2_ref_EUR-44_rcp26_IMPACT2C_QM-EOBS_1971-2000_remap0.5.nc

in https://swicca.smhi.se/thredds/catalog/SWICCA/0.5/catalog.html ?

[2020-06-05 08:34] yhundecha commented on #68
They are accessible from her: [](https://ckan.myclimateservice.eu/dataset/swicca-temperature-precipitation-hydrological-variables)

[2020-06-05 08:34] yhundecha commented on #68
https://ckan.myclimateservice.eu/dataset/swicca-temperature-precipitation-hydrological-variables

[2020-06-05 09:09] p-a-s-c-a-l commented on #68
So this means they are **not** available from [THREDDS WMS]([https://swicca.smhi.se/thredds/catalog/SWICCA/0.5/catalog.html]). In this case, the data has to be converted to GeoTIFF and made available on ATOS GeoServer. ~~Once this is done, I can have a look at the data package and create the template resources.~~

@DanielRodera When importing the data, it is important that the layer names follow e

[2020-06-05 13:19] therter opened #69 "Some layers from the European Wide Data Package are missing"
The following hazard characterization layers from the European Wide Data Package are missing (not only on the new geoserver, but also on the old geoserver):
- The layers for the snow days. Examples:
  - europe:PI_snow-days_rcp85_20410101-20701231_ensmean [old link](https://clarity.meteogrid.com/geoserver/europe/wms?&service=WMS&request=GetMap&layers=europe%3API_snow-days_rcp85_20410101-20701231_en

[2020-06-05 17:29] RobAndGo commented on #69
Oh man, again! ![gaah](https://user-images.githubusercontent.com/45385637/83905723-72a0dd00-a762-11ea-86e2-9f0bcab0bcef.gif)

I'll have to look at this in more detail, but I think one of the problems with snow days, was that it was one of the last datasets to be uploaded, and I'm not sure if @ghilbrae or @LauraMTG had time to convert them to geotiff on the Meteogrid server. Indeed, I cannot find i

[2020-06-08 09:26] p-a-s-c-a-l commented on #67
Thanks

[2020-06-08 09:26] #67 closed

[2020-06-09 09:35] therter commented on #69
I will change this

Done. The name of the index CI_Tn10p* uses a capital T now.

[2020-06-22 08:22] therter opened #70 "The legends of the wind indices are all displayed with units "days""
The legends of the wind indices are all displayed with units "days", even though only for the torro17 index the units are days, for the rest the units should be m/s

This should be changed in the WMS style.

[2020-06-22 08:29] therter opened #71 "The layer names should be displayed in the legends"
In all layers except the clarity background layers, only the units are displayed in the legend. It would be very useful to also display the layer name.

[2020-06-22 10:47] DanielRodera commented on #71
Hi @therter, I think @ghilbrae have created the styles you are asking for changes.

[2020-06-22 10:50] DanielRodera commented on #70
Hi, the styles have been created by MTG people, I assigned @ghilbrae. I will keep in the issue if you need support in the Geoserver configuration.

[2020-06-22 12:49] therter opened #72 "The geoserver delivers a wrong map image"
The geoserver delivers sometimes a wrong map image.

Example: if you send a GetMap request for the layer [europe:HI_tropical-nights_historical_19710101-20001231_ensstd](https://geoserver.myclimateservice.eu/geoserver/europe/wms?&service=WMS&request=GetMap&layers=europe%3AHI_tropical-nights_historical_19710101-20001231_ensstd&styles=&format=image%2Fpng&transparent=true&version=1.1.1&width=1536&heig

[2020-06-23 07:07] p-a-s-c-a-l commented on #72
Same problem encountered here: https://github.com/clarity-h2020/csis-technical-validation/issues/54#issuecomment-647943112

I'm also able to reproduce the problem. Layer data source is a GeoTIFF, right? Did this also happen on METEOGRID GeoServer? @therter can you please check it out?

[2020-06-23 07:15] therter commented on #72
This did not happen on the [meteogrid geoserver](https://clarity.meteogrid.com/geoserver/europe/wms?&service=WMS&request=GetMap&layers=europe%3AHI_tropical-nights_historical_19710101-20001231_ensstd&styles=&format=image%2Fpng&transparent=true&version=1.1.1&width=1536&height=1536&srs=EPSG%3A3857&bbox=1800244.8901724715,6066042.564711587,1917652.1656185023,6183449.840157619)

[2020-06-23 08:03] ghilbrae commented on #71
Both @LauraMTG and I created the styles. The problem with adding the name of the layers is that we are using the same style for several sets of layers and if we add anything more to the legend we need to make sure that other layers using the same style are not affected. We will have to replicate all the styles affected. It is not difficult but it will be a slow and tedious task due to the hundreds

[2020-06-23 10:52] p-a-s-c-a-l commented on #72
Does this error occur only with this particular layer or also with other layers?
The source of the layer is this file: `file:geoserver_MTG_18032020/data/new/heat/tropical-nights/HI_tropical-nights_historical_19710101-20001231_ensstd.tif`. Perhaps it got corrupted? I cannot access the original file, so I cannot check that.

@DanielRodera Could you please download and verify `HI_tropical-nights_hist

[2020-06-23 11:01] p-a-s-c-a-l commented on #72
@DanielRodera @ghilbrae

Can please check whether the [advanced layer properties](https://geoserver.myclimateservice.eu/geoserver/web/wicket/bookmarkable/org.geoserver.web.data.resource.ResourceConfigurationPage?7&name=HI_tropical-nights_historical_19710101-20001231_ensstd&wsName=europe) on METEOGRID and ATOS Geo server are exactly the same? I don't have access to METEOGRID server, so I cannot hav

[2020-06-23 11:07] p-a-s-c-a-l commented on #71
O.K:, I see. Is it perhaps possible to use some kind of *variables* in the SLD definition? Any ideas @therter

Maybe @claudiahahn  can answer this question :-)

[2020-06-23 14:03] therter commented on #72
This error occurs also on other layers (for example [this](https://geoserver.myclimateservice.eu/geoserver/europe/wms?&service=WMS&request=GetMap&layers=europe%3ACI_Tn10p_rcp26_20410101-20701231_ensmean&styles=&format=image%2Fpng&transparent=true&version=1.1.1&width=1536&height=1536&srs=EPSG%3A3857&bbox=1800244.8901724715,6066042.564711587,1917652.1656185023,6183449.840157619), [this](https://geos

[2020-06-23 14:11] claudiahahn commented on #68
Who will convert the data? @DanielRodera, is it possible for ATOS to do that? or @yhundecha, can you provide the respective geotiff files?

[2020-06-23 14:44] claudiahahn commented on #71
It might not be that urgent, because the user can check again, which layer was selected, but it would be very useful to  have it at the end :/
Higher priority should probably be given to a better color scaling and the mouse over feature to display values

[2020-06-24 06:50] ghilbrae commented on #72
@p-a-s-c-a-l if you still need to check in our server, I've set up a user for you to do so. I'll send you the credentials.

The properties for the layer europe:HI_tropical-nights_historical_19710101-20001231_ensmean, look like this in our geoserver:

![image](https://user-images.githubusercontent.com/1615745/85510447-9fc10c80-b5f7-11ea-9a3a-e4b1aa84a128.png)

[2020-06-24 08:53] p-a-s-c-a-l commented on #59
How is the creation of the HC-LE input layers progressing? What about the open issues?

[2020-06-24 08:55] p-a-s-c-a-l commented on #68
AFAIR the conversion from NetCDF to GeoTIFF was done by @LauraMTG and/or @ghilbrae, so perhaps they can help out here?

[2020-06-24 10:02] yhundecha commented on #68
I will try to get it converted.

[2020-06-24 14:10] p-a-s-c-a-l commented on #71
Do you whether we have a separate  issue for that @claudiahahn ? I  remember the discussion on this topic but I cannot find it any more.

O.K:, that is discussed [here](https://github.com/clarity-h2020/emikat/issues/41)

[2020-06-25 08:33] ghilbrae commented on #71
I will prepare a list of the styles being used and the layers that use them so we can have a better understanding of how is this working now. Maybe we can find a solution that is not too problematic.

[2020-06-25 09:00] therter commented on #71
There are variables, which can be used in SLD documents, but unfortunately it is not possible to use variables within the title element (that is used to define the label in the legend). This is neither in SLD version 1.0.0 nor in version 1.1.0 allowed.

[2020-06-25 09:12] p-a-s-c-a-l commented on #71
I don't think that this is necessary. Looking at the [original request](https://github.com/clarity-h2020/csis-technical-validation/issues/53#issuecomment-646655837), its basically just required to include the layer *name* **or** *title* in the legend as described [here](https://gis.stackexchange.com/questions/186535/change-title-of-geoserver-legend-decoration).

[2020-06-25 09:13] claudiahahn commented on #71
I think the mouse over feature is discussed here:
https://github.com/clarity-h2020/csis/issues/163

The color scaling was mentioned several times, also by Denis, but I could not find an issue either

[2020-06-25 09:25] p-a-s-c-a-l commented on #71
Yes , but without clear requirements we don't know what to change. :-)

Probably it was discussed as part of an 'off topic' discussion in an otherwise unrelated issue.
Perhaps @RobAndGo and @DenoBeno do remember what was wrong with which styles and where this has been discussed.

[2020-06-25 09:34] maesbri commented on #71
For what I remember:
1. The legends of many indexes don't match the measure units, that is, for instance, index is about number of hot days but the map legend refers to temperature degrees (just as an example). All indexes styles should be reviewed to be sure the legend is correct (in WP3 folder there is an excel file with all indexes and the corresponding unit of measure).
2. Colouring. Denis com

[2020-06-25 09:37] p-a-s-c-a-l commented on #72
@DanielRodera Did you compare the 2 tif files?

[2020-06-25 09:49] RobAndGo commented on #71
As I do not know how the colour bar legend is implemented in the map view, I will upload an example of a rather pleasing (to me at least) colour scale which can be **used for all heat indices**:
[heat_colourbar.rgb.txt](https://github.com/clarity-h2020/data-package/files/4830381/heat_colourbar.rgb.txt)

It's an ASCII file (remove the temporary .txt extension) and gives the red, green, blue values

[2020-06-25 09:51] p-a-s-c-a-l opened #73 "Improve colour scaling of layers"
All indexes styles should be reviewed to be sure the legend is correct (in WP3 folder there is an excel file with all indexes and the corresponding unit of measure).

For what I remember:
1. The legends of many indexes don't match the measure units, that is, for instance, index is about number of hot days but the map legend refers to temperature degrees (just as an example). **All indexes styles s

[2020-06-25 09:53] p-a-s-c-a-l commented on #73
As I do not know how the colour bar legend is implemented in the map view, I will upload an example of a rather pleasing (to me at least) colour scale which can be **used for all heat indices**:
[heat_colourbar.rgb.txt](https://github.com/clarity-h2020/data-package/files/4830381/heat_colourbar.rgb.txt)

It's an ASCII file (remove the temporary .txt extension) and gives the red, green, blue values

[2020-06-25 10:44] p-a-s-c-a-l commented on #71
O.K. It seems that we cannot change the legend which is returned by `getLegendGraphic` directly but have to provide a separate [WMS Decorations](https://docs.geoserver.org/stable/en/user/services/wms/decoration.html#wms-decoration-types). @DanielRodera perhaps you can give it a try? Without access to the geoserver data dir I cannot check it out myself, but the approach is rather straightforward. T

[2020-06-25 10:56] DanielRodera commented on #72
Hi @p-a-s-c-a-l,

The tiffs are the ones MTG provides to us. I cannot compare them because I have no access to the original files,

The configuration is the same as the Ángela´s screenshot. I am afraid I cannot help much more.

@ghilbrae, the tiffs you provided are stored in the ATOS FTP, could you please check if there are the same as the original ones you have in your GeoServer??

[2020-06-25 11:45] p-a-s-c-a-l commented on #72
I've disabled JAI Tile Recycling and the error *seems* to be gone.

![image](https://user-images.githubusercontent.com/1788226/85713067-46390a80-b6e9-11ea-965d-c6be9411aae0.png)

@DanielRodera / @therter Can you please check with other layers if this really solved the problem?

Tile Recycling allows JAI to re-use already loaded tiles, which can provide significant performance improvement. So disab

[2020-06-25 12:16] p-a-s-c-a-l commented on #69
So this is resolved now?

[2020-06-25 12:24] RobAndGo commented on #69
I think the only issue remaining was with the **HI_Tx75p_** index. I was able to check on the clarityftp (got the new log-in details just yesterday) and it is not there. I think this is because it was replaced by the **HI_Tx75p-consecutive-max** index. In this case, I think it would be easier if I removed the  **HI_Tx75p_** index from the European-wide dataset.

Update: Hmm, I can't seem to be abl

[2020-06-25 12:26] p-a-s-c-a-l commented on #73
[This](https://github.com/clarity-h2020/data-package/issues/53) is the original issue posted by @DenoBeno.

[2020-06-25 12:29] p-a-s-c-a-l commented on #73
Now the question is, who is responsible? For the layers generated and served by EMIKAt it's obviously @humerh, for the hazard indices on ATOS GeoServer it's probably @DanielRodera and/or @LauraMTG.

[2020-06-25 14:10] yhundecha commented on #68
Data is converted, but it looks that I have trouble accessing the GeoServer to put the data on. Any tips on how I can proceed?

[2020-06-25 14:14] RobAndGo commented on #68
I have sent you an email with the access details for the GeoServer.

[2020-06-25 15:40] yhundecha commented on #68
I have now uploaded the converted GeoTIFF files, together with the original NetCDF files here:
/clarityftp/europe/hazard_indices/hydrology/

[2020-06-25 18:13] therter commented on #72
I can no longer reproduce the problem. It seems to be fixed.

[2020-06-26 07:20] ghilbrae commented on #72
@DanielRodera  Yes, they are the same. I took all the files directly from the data directory on our geoserver.

[2020-06-26 09:11] therter commented on #69
At the top of the page should be an edit button

![editDp](https://user-images.githubusercontent.com/1788509/85840035-1eef4580-b79c-11ea-87f0-3e3f17645b5f.png)

[2020-06-26 09:25] RobAndGo commented on #69
I'm afraid I am one of the "have-nots". ![bawling](https://user-images.githubusercontent.com/45385637/85842177-92468680-b79f-11ea-8804-be495f90d749.gif)
I don't see these menu options. With chrome and firefox it looks like this for me:

![2020-06-26_112129](https://user-images.githubusercontent.com/45385637/85841907-151b1180-b79f-11ea-9d52-be022a952d19.png)

[2020-06-26 10:01] p-a-s-c-a-l commented on #69
in which instance? CSIS-DEV?

[2020-06-26 10:14] RobAndGo commented on #69
Ok, so that's the problem. I was using the normal CSIS version the whole time. Sorry, my mistake!
Now, with the https://csis-dev.myclimateservice.eu/user/login , it appears that my normal login does not work. Do I need a new account for this developer instance?

[2020-06-26 11:24] p-a-s-c-a-l commented on #69
I've sent you a new password. BTW there's duplicate layer **HI_summer-days_ensstd** in the European Data Package:

[2020-06-26 12:08] ghilbrae commented on #68
Sorry, we missed this issue.

@LauraMTG and I, mainly Laura, did the conversion from what was provided by Robert in NetCDF to tif. I think Laura created an script that helped with the conversion and then uploading the layers to our server. This is obviously not set up at the ATOS geoserver. We could try and see if these new layers work with the current script and then upload them from our server t

[2020-06-26 12:10] ghilbrae commented on #68
The naming of the files was done by Robert originally. What we have to ensure is that nothing is changed by geoserver as it happened last month.

[2020-06-26 18:20] RobAndGo commented on #69
Thanks @p-a-s-c-a-l!!! I was able to remove the HI_Tx75p_ Index.
But how did you find the duplicate layer of **HI_summer-day_ensstd**? I thought it would be in the "Heat Index Summer Days" index, but this was not the case. I clicked on other indices, to see if I forgot to remove a duplicate HI_summer-day_ensstd after cloning, but I couldn't find anything. Could you maybe find out in which index th

[2020-06-29 07:40] p-a-s-c-a-l commented on #69
Yes, I've found the resource with the additional HI_summer-day_ensstd 'reference' aka 'service path' (sorry, our [naming conventions ](https://www.mediawiki.org/wiki/Naming_things) are virtually non-existent) and removed it in the DEV instance.

[2020-06-29 08:32] ghilbrae commented on #73
@RobAndGo here is the example of style we agreed upon:

[code]

This style is currently being used for these layers: HI_Tx75p-consecutive-max_{}_{}_ensstd

[2020-06-29 08:51] RobAndGo commented on #73
Hi @ghilbrae
Here is an example for summer days.

[code]
There are more levels than previous, and if it looks good, I will upload the levels for the other heat indices.

[2020-06-29 12:09] ghilbrae commented on #73
@RobAndGo is this valid for all Summer Days layers? Both std and mean?

[2020-06-29 14:04] RobAndGo commented on #73
This would be valid for **all** Summer Days layers, but only **ensmean**.
For **ensstd** (which I forgot!), use this greyscale version for **all** Summer Day layers:
[code]
Here, darker shadings means that the result is more certain (lower standard deviation).

[2020-06-30 06:07] RobAndGo commented on #69
OK, the snow days was my error.  ![foreheadslap](https://user-images.githubusercontent.com/45385637/86089534-b1e3f480-baa8-11ea-86e0-0dfbca28fa12.gif)

I had incorrectly named it in the clarityftp, which meant that @ghilbrae or @LauraMTG repeated that incorrect name in the geotiffs.
I will rename the files on the clarityftp, but @ghilbrae or @LauraMTG need to change it on the Meteogrid geoserver.

[2020-06-30 06:54] ghilbrae commented on #73
@RobAndGo done. I've changed both styles and now layers for Summer Days (consecutive and non-consecutive) should show these styles.

[2020-06-30 07:09] RobAndGo commented on #73
Thank you @ghilbrae!
Now, what I did not think of, is that the colour legend should not be too tall, e.g. that for ensmean is cut off at the top. And when one adds another plot to the graphic, one does not see the other colour legend.
So, does this mean that the height of the legend is determined by the number of levels? i.e. less levels means a shorter legend?
If this is the case, then perhaps it

[2020-06-30 07:34] ghilbrae commented on #73
@RobAndGo The height is certainly influenced by the number of legends, what I do not know if there's a way to configure the legend's height and width. I can check geoserver documentation and see if there's something there but it could also be something that can be controlled through the petition done from the CSIS.

[2020-06-30 08:38] LauraMTG commented on #68
Hello @yhundecha and @RobAndGo

I'm going to process the NetCDF to geotiff conversion for this /clarityftp/europe/hazard_indices/hydrology/
and take the layers to the ATOS server for publication. I'll let you know when it's available.

[2020-06-30 08:42] p-a-s-c-a-l commented on #72
OK.

[2020-06-30 08:42] #72 closed

[2020-06-30 08:43] claudiahahn commented on #68
Dear @LauraMTG: from the entry above it sounds like @yhundecha already has converted the netcdf data to geotiff and put it here:
"I have now uploaded the converted GeoTIFF files, together with the original NetCDF files here:
/clarityftp/europe/hazard_indices/hydrology/" (from Yeshewa)
maybe I have missed something, but I just want to make sure we are not doing things twice

[2020-06-30 08:44] p-a-s-c-a-l commented on #66
@therter this is done, right?
Did you also check for other services.clarity-2020.eu appearances?

[2020-06-30 08:45] LauraMTG commented on #68
Okay, thanks for the advice.
I'd lost that.
Regards

[2020-06-30 08:49] claudiahahn commented on #68
But thank you very much for the offer to convert it!!
I guess now @DanielRodera has to take over?

[2020-06-30 09:44] therter opened #74 "The Urban Atlas 2012 background layers do not work"
The Urban Atlas 2012 layers are not working in the [map](https://csis.myclimateservice.eu/study/35/step/1530/view/maps)

- [Urban Atlas 2012](https://image.discomap.eea.europa.eu/arcgis/services/UrbanAtlas/UA_UrbanAtlas_2012/MapServer/WmsServer?&service=WMS&request=GetMap&layers=%24%7Blayer%7D&styles=&format=image%2Fpng&transparent=true&version=1.1.1&width=1536&height=1536&srs=EPSG%3A3857&bbox=262

[2020-06-30 12:27] p-a-s-c-a-l commented on #74
Can you please post also a link the the **resource**?

[2020-06-30 12:31] therter commented on #74
Link to the resource [Urban Atlas 2012](https://csis-dev.myclimateservice.eu/node/2040)
Link to the resource [Urban Atlas 2012 [Building Height]](https://csis-dev.myclimateservice.eu/node/2049)

[2020-06-30 12:35] p-a-s-c-a-l commented on #74
The layers are no longer available online, I've removed them from the data packages.

[2020-06-30 12:35] #74 closed

[2020-06-30 17:20] therter commented on #66
Yes, this is done and on the [maintenance](https://csis-dev.myclimateservice.eu/maintenance) site, the url was also corrected.

[2020-07-01 06:51] #66 closed

[2020-07-02 09:13] p-a-s-c-a-l commented on #57
[Data Package in CSIS](https://csis-dev.myclimateservice.eu/node/2198)

[2020-07-02 09:24] p-a-s-c-a-l commented on #20
Data Package in CSIS (**incomplete**): [DC1 - Naples Metropolitan Area Data Package ](https://csis-dev.myclimateservice.eu/node/221)

[2020-07-02 09:34] p-a-s-c-a-l commented on #21
Data Packages in CSIS:
- [Stockholm: Heat related data and indicators](https://csis-dev.myclimateservice.eu/node/221)
- [Stockholm green infrastructure data](https://csis-dev.myclimateservice.eu/node/4008):

[2020-07-02 09:39] p-a-s-c-a-l commented on #22
Data Package in CSIS: [DC3 -Urban heat waves, urban heat islands, air ventilation in Linz, Austria, Data Package](https://csis-dev.myclimateservice.eu/node/733)

[2020-07-02 09:43] p-a-s-c-a-l commented on #23
Data Package in CSIS: [DC4 Spanish Transport Network ](https://csis-dev.myclimateservice.eu/node/705).

[2020-07-06 08:16] p-a-s-c-a-l commented on #71
resolved in https://github.com/clarity-h2020/map-component/issues/98

[2020-07-06 08:16] #71 closed

[2020-07-06 08:19] p-a-s-c-a-l commented on #73
@humerh

*(via @DenoBeno)*

[2020-07-06 08:20] #64 closed

[2020-07-06 08:21] p-a-s-c-a-l commented on #69
Has this been resolved now? Do you know more @therter ?

[2020-07-06 08:23] p-a-s-c-a-l commented on #68
Yes, perhaps with help from @ghilbrae and @LauraMTG regarding the [styles](https://github.com/clarity-h2020/data-package/issues/73).

[2020-07-08 13:22] #17 closed

[2020-07-08 13:23] p-a-s-c-a-l commented on #70
Any updates on this issue @therter ?

[2020-07-08 13:26] #23 closed

[2020-07-08 13:38] p-a-s-c-a-l opened #75 "Update availability of HC-LE data"
We've recently synchronised DEV ->PROD CSIS and updated the list of supported cities from the information retrieved from geoserver.myclimateservice.eu. This is the current situation regarding availability of cities HC-LE input data for screening:

![image](https://user-images.githubusercontent.com/1788226/86924839-4943ea00-c130-11ea-8bd4-851d39e411db.png)

As @DenoBeno mentioned, we've to urgently

[2020-07-09 10:00] p-a-s-c-a-l commented on #59
To be answered [here](https://github.com/clarity-h2020/data-package/issues/75).

[2020-07-09 10:00] #59 closed

[2020-07-09 10:57] ghilbrae commented on #57
We are still adding new layers to the Data Package. The people from the RESCCUE project have recently sent more information our way.

Anyway, we can close the issue and open a new one if there is some sort of problem or question.

[2020-07-13 16:39] DanielRodera commented on #75
Hi @p-a-s-c-a-l ,

The status:

We noticed there were about 20 cities with missing layers and we fix the scripts and reload them all in a new DDBB.

The DDBB with the new data is already loaded in our server, we will update in the Geoserver today on EOB time.

We also created a script which loads all the cities which have the data requirements for been calculated. This step is needed for the follo

[2020-07-13 17:47] DenoBeno commented on #75
I have asked for the server at AIT. Please:

1) remind me on the specs for the server
2) Explain how to start the scripts once we have a server.

thx
 Denis

On Mon, 13 Jul 2020 at 18:40, DanielRodera <notifications@github.com> wrote:

[2020-07-14 07:09] DanielRodera commented on #75
Hi @DenoBeno,

The server requirements are the following:
RAM: 48Gb
Cores: 8
Disk Space: About 140 Gb (the VM backup is around 100Gb)

In order to run, you will need to install Xeon virtual management software.

As @maesbri said in the mail, would be nice if we could have access to the server to run the scripts and make the proper setup. If it is not possible, I will send you a detailed guide on h

[2020-07-15 06:34] p-a-s-c-a-l opened #76 "Vulnerability Resources missing in European Data Package"
https://csis.myclimateservice.eu/study/185/step/5122/view/data
and
https://csis.myclimateservice.eu/study/185/step/5122/view/table
2020-07-13 17:05
Firefox 78.0.1 (64-Bit) / Windows 10

![grafik](https://user-images.githubusercontent.com/18684786/87320400-2ef07e80-c52b-11ea-9205-b6f7094e2d1a.png)

![grafik](https://user-images.githubusercontent.com/18684786/87320438-3a43aa00-c52b-11ea-858e-a3bcb3a

[2020-07-17 10:29] p-a-s-c-a-l commented on #73
any progress to be reported here?

[2020-07-17 10:30] p-a-s-c-a-l commented on #68
any progress to be reported here @DanielRodera ?

[2020-07-17 10:31] p-a-s-c-a-l commented on #69
@therter ?

[2020-07-17 10:35] #57 closed

[2020-07-17 10:42] p-a-s-c-a-l commented on #75
Did you update the Geoserver DB @DanielRodera ? This is the current status. It doesn't look different than [this one](https://github.com/clarity-h2020/data-package/issues/75#issue-653305745):

![image](https://user-images.githubusercontent.com/1788226/87778011-ceaf5480-c82a-11ea-9cd4-83f98ffecca7.png)

[2020-07-17 10:49] therter commented on #69
The following layers are still missing:
  - europe:PI_snow-days_rcp85_20410101-20701231_ensmean [old link](https://clarity.meteogrid.com/geoserver/europe/wms?&service=WMS&request=GetMap&layers=europe%3API_snow-days_rcp85_20410101-20701231_ensmean&styles=&format=image%2Fpng&transparent=true&version=1.1.1&width=1536&height=1536&srs=EPSG%3A3857&bbox=1800244.8901724715,6066042.564711587,1917652.165618

[2020-07-19 11:58] RobAndGo commented on #69
As mentioned above in the post [here](https://github.com/clarity-h2020/data-package/issues/69#issuecomment-651563003), the required correction is a name change of the layers on the Meteogrid server, which, as I understand it, can only be done by METEOGRID (@ghilbrae or @LauraMTG).

[2020-07-19 12:05] RobAndGo commented on #73
Unfortunately not. The colour bar which I suggested for summer days was implemented by @ghilbrae, but it is too large to fit in the map window. I suggested removing every second level in this [post](url) to make it smaller, but this change has not yet been implemented. I simply want to see how this change looks like before I start making the colour bars for the other indices.

[2020-07-20 07:34] p-a-s-c-a-l commented on #69
No, on **ATOS** GeoServer. @ghilbrae Can you please disable METEOGRID GeoServer so that nobody will accidentality access the wrong server?

@therter @RobAndGo @DanielRodera

I couldn't find **any** snow-days layers on [https://geoserver.myclimateservice.eu](https://geoserver.myclimateservice.eu/geoserver/web/wicket/bookmarkable/org.geoserver.web.data.layer.LayerPage)

❓

[2020-07-20 07:52] DanielRodera commented on #69
I cannot find any snow-days layers published in the Geoserver.

I also take a look at the folder where are stored the original data I couldn't find any snow-days layers neither.

@ghilbrae could you please a look at it? you know better the structure of this folder and where could be stored these layers,

[2020-07-20 10:25] ghilbrae commented on #70
@therter I've changed the units for WI_98perc_sfcWindmax_XXXX and WI_FXx_XXXXX layers. It should now show m/s units.

Let me know if it's missing somewhere else.

[2020-07-20 13:41] p-a-s-c-a-l commented on #54
Flood Local Effects HC-LE Resource has been created in CSIS DEV instance and added to European Data Package:

- [Service Endpoints](https://github.com/clarity-h2020/csis/wiki/Services-endpoints-(used-by-CSIS)#local-effects-for-pluvial-flood---displays-propability-of-flood-events-for-each-scenario-time-period-typical-events-and-for-each-adaptation-project)
- Data Package [Resource](https://csis-dev

[2020-07-20 14:39] p-a-s-c-a-l opened #77 "1st Data Package: 05 Risk & Impact (Pluvial Flood)"
Create Risk & Impact Pluvial Flood Resource in European Data Package. Service Endpoints are described [here](https://github.com/clarity-h2020/csis/wiki/Services-endpoints-(used-by-CSIS)#impact-calculation-service-pluvial-flood-for-each-scenario-time-period-typical-events-and-for-each-adaptation-project). ATM the list of styles for WMS layers is missing.

[2020-07-21 11:56] LauraMTG commented on #69
In effect @p-a-s-c-a-l , the snow day indices have not been processed by MeteoGrid. If such a conversion is needed, that would not be inconvenient for us.

[2020-07-22 10:09] ghilbrae commented on #73
I can remove those levels, but there was also the option of handling the size of the legend in the WMS request. I think I suggested that above, but if you'd rather change the scale I have no problem whatsoever.

[2020-07-22 17:09] RobAndGo commented on #73
I just thought that removing the levels would be quicker, and perhaps the result may look better with fewer colours - I'm not sure about this, but I would like to see how it looks.

[2020-07-23 08:23] ghilbrae commented on #73
I already did it, you can see the results and see if it fits better :)

[2020-07-23 16:36] RobAndGo commented on #73
Thank you @ghilbrae. That really does look better!! Just one small thing, the last level should have a value of "192" (interval size is 24) and not "180" as it currently is.

Perhaps you could also change the summer day ensstd map by removing the levels with odd numbers, i.e. 1, 3, 5, ...

I will update this issue with the colour levels for the other indices when I have time (perhaps tonight?)

[2020-07-23 20:06] RobAndGo commented on #73
The colour levels for:

**HI_tropical-nights_ensmean**

[code]

**HI_tropical-nights_ensstd**

[code]

[2020-07-23 20:10] RobAndGo commented on #73
The colour levels for:

HI_hot-days_ensmean

            <ColorMap>
              <ColorMapEntry color="#ffffff" quantity="-1" label="# days" />
              <ColorMapEntry color="#040ed8" quantity="0" label="0" />
              <ColorMapEntry color="#4196ff" quantity="20" label="20" />
              <ColorMapEntry color="#86d9ff" quantity="40" label="40" />
              <ColorMapEntry color="#a

[2020-07-23 20:26] RobAndGo commented on #73
HI_Tx90p_ensmean
[code]

HI_Tx90p_ensstd

[code]

[2020-07-23 20:39] RobAndGo commented on #73
Very heavy precipitation days (R20mm) ENSMEAN

        <ColorMap>
          <ColorMapEntry color="#ffffff" quantity="-1" label="# days" />
          <ColorMapEntry color="#040ed8" quantity="0" label="0" />
          <ColorMapEntry color="#4196ff" quantity="4" label="4" />
          <ColorMapEntry color="#86d9ff" quantity="8" label="8" />
          <ColorMapEntry color="#aff5ff" quantity="12" label

[2020-07-23 22:09] RobAndGo commented on #73
Wet days (RR1) ENSMEAN

    <ColorMap>
      <ColorMapEntry color="#ffffff" quantity="-1" label="# days" />
      <ColorMapEntry color="#040ed8" quantity="40" label="40" />
      <ColorMapEntry color="#4196ff" quantity="60" label="60" />
      <ColorMapEntry color="#86d9ff" quantity="80" label="80" />
      <ColorMapEntry color="#aff5ff" quantity="100" label="100" />
      <ColorMapEntry color="#f

[2020-07-24 06:37] #20 closed

[2020-07-24 06:37] #21 closed

[2020-07-24 06:38] #22 closed

[2020-07-24 06:38] #76 closed

[2020-07-27 07:29] #70 closed

[2020-07-27 08:09] RobAndGo commented on #73
CI_frost-days_ensmean
[code]

CI_frost-days_ensstd
[code]

[2020-07-27 08:14] RobAndGo commented on #73
CI_ice-days_ensmean

[code]
CI_ice-days_ensstd
[code]

[2020-07-27 08:24] RobAndGo commented on #73
CI_Tn10p_ensmean

       <ColorMap>
          <ColorMapEntry color="#ffffff" quantity="-1" label="# days" />
          <ColorMapEntry color="#ceffff" quantity="0" label="0" />
          <ColorMapEntry color="#aff5ff" quantity="2" label="2" />
          <ColorMapEntry color="#9ceeff" quantity="4" label="4" />
          <ColorMapEntry color="#86d9ff" quantity="6" label="6" />
          <ColorMapEntr

[2020-07-27 08:59] RobAndGo commented on #73
I have noticed that the above index CI_Tn10p is incorrectly under the legend heading "**hot-days-75p**".

In fact, if it is not too late, I think the legend headings could be improved as follows. I have changed the names of the headings (in bold), sorted the indices, and suggested replacing the names so that they are consistent (and can be more easily understood).

**Cold**
  - CI_frost-days_ensme

[2020-07-27 09:32] RobAndGo commented on #73
CI_consecutive-frost-days_ensmean

       <ColorMap>
          <ColorMapEntry color="#ffffff" quantity="-1" label="# days" />
          <ColorMapEntry color="#ceffff" quantity="0" label="0" />
          <ColorMapEntry color="#aff5ff" quantity="20" label="20" />
          <ColorMapEntry color="#9ceeff" quantity="40" label="40" />
          <ColorMapEntry color="#86d9ff" quantity="60" label="60" />

[2020-07-27 10:11] RobAndGo commented on #73
DI_consecutive-dry-days_ensmean

[code]

DI_consecutive-dry-days_ensstd

[code]

[2020-07-27 10:45] RobAndGo commented on #73
Consecutive wet days ENSMEAN

[code]

Consecutive wet days ENSSTD

[code]

[2020-07-27 11:29] DanielRodera commented on #75
Hi,

I updated the database, now there are 192 cities available:

![image](https://user-images.githubusercontent.com/42216407/88536949-ecd83a00-d00c-11ea-9201-b04952ed14f7.png)

Let me know if you find any error, we have a backup to go back to the original database if needed,

[2020-07-27 11:33] RobAndGo commented on #73
Highest one day precipitation amount ENSMEAN
[code]
Highest one day precipitation amount ENSSTD
[code]

[2020-07-28 07:45] ghilbrae commented on #73
@RobAndGo Just to clarify. Do you mean to change the names of the styles or some other field/label inside the XML definition of the style? I think you are referring to the name of the styles, is that so?

[2020-07-28 07:50] RobAndGo commented on #73
I am just referring to the name of the styles as they appear in the legend.
![image](https://user-images.githubusercontent.com/45385637/88635039-76dcdd00-d0b7-11ea-8151-7ee7c4c7c62c.png)
The headings pointed to by the arrows are what I suggested in bold in my post [here](https://github.com/clarity-h2020/data-package/issues/73#issuecomment-664214797). And the indices would be distributed under thos

[2020-07-28 07:59] p-a-s-c-a-l commented on #73
Those are  **names**  (machine names) of the taxonomies (e.g. [Hazards](https://csis-dev.myclimateservice.eu/admin/structure/taxonomy/manage/hazards/overview)) managed in CSIS Drupal System, not in GeoServer.

Unfortunately, we cannot change the name nor is there an additional *title* filed available:

![image](https://user-images.githubusercontent.com/1788226/88636070-beb03400-d0b8-11ea-8fbb-abdd

[2020-07-28 08:09] RobAndGo commented on #73
Perhaps a stupid suggestion, but would it be possible to add new machine names (taxonomies) according to what I suggested, and then leave the fields of the existing machine names blank? That is, they would remain in the system since they cannot be deleted, but they won't be shown in the legend.

[2020-07-30 10:03] patrickkaleta commented on #75
Shall I (or @therter) now run the [republish script ](https://github.com/clarity-h2020/docker-drupal/blob/dev/scripts/republish.sh) on DEV and check how many cities will be available there?

[2020-07-30 10:39] therter commented on #75
Yes, you can start the script, so that we can check, if emikat can do calculations for the new cities.

[2020-07-30 10:49] patrickkaleta commented on #75
Tried to execute the script on DEV, but it fails with error: `bash: /usr/bin/shp2pgsql: No such file or directory`

Script on DEV seems to be the same as the most recent version of it in the [Git repo](https://github.com/clarity-h2020/docker-drupal/blob/dev/scripts/republish.sh) (2 months old). Is there maybe a newer version of the script somewhere or do I need to run anything else before running

[2020-07-30 10:59] therter commented on #75
This is the newest version. It seems that shp2pgsql is not installed within the postgis docker container since the last image update. I will take a look at it.

[2020-07-30 11:22] p-a-s-c-a-l commented on #77
I've noticed there are 'Local Effects Pluvial flood' and `Impacts pluvial flood` layers on [EMIKAT GeoServer](https://service.emikat.at/geoserver/web), so the PV layers are available now?

[2020-07-30 14:47] therter commented on #75
The new cities are now in the dev instance.

There were two problems after the last image update:

#### The drupal database was not updated and tried to use the postgis-2.5.so library.

Normally, this can be fixed with the following command (see [here](https://github.com/postgis/docker-postgis#known-issues--errors))

[code]

But in this case, the update-postgis.sh script also tried to use the old

[2020-07-30 14:57] p-a-s-c-a-l commented on #75
@therter When we recreate the container, [your customisations](https://github.com/clarity-h2020/data-package/issues/75#issuecomment-666417615) are lost. Therefore we have to create a custom `postgis/postgis:10-3.0` image as we did for [Drupal](https://github.com/clarity-h2020/docker-drupal/tree/dev/drupal).

[2020-07-30 15:03] DanielRodera commented on #68
hi all,

First of all sorry about the delay. I didn't get any alert for this issue.

I have uploaded the SWICCA dataset (GeoTiff) in the Geoserver,

Could you please confirm the file names are the correct ones? these names will be the ones published in Geoserver

[2020-07-30 15:55] p-a-s-c-a-l commented on #68
Thanks! Which file names? There are now 452 layers on GeoServer.

[2020-07-30 17:59] DanielRodera commented on #68
The layers are still not published in Geoserver, I have copied the files (GeoTiffs) from the Atos FTP server to the Geoserver instance.

Before publishing them all, I would like to be sure that the name of the files I have copied from the FTP are the ones that should be published as the layer name. The Geoserver importer plugin (we used this plugin to publish all the MTG layers) will take the name

[2020-07-31 08:40] p-a-s-c-a-l commented on #68
Could you please post the list of files. It seems that I don't have access to the sFTP server or the IP has changed (5.79.69.49).

Apart from that, the next question is who will  actually create the respective [Template Resources](https://github.com/clarity-h2020/data-package/wiki/Template-Resources) and add them the Data Packages?

[2020-07-31 11:36] DanielRodera commented on #68
Hi Pascal,

Indeed, the sFTP server IP has changed, the new one is 95.211.163.27. Your user/pass should be the same as before,

I have attached a file with some file names for SWICCA datasets: [SWICCA-names.txt](https://github.com/clarity-h2020/data-package/files/5006797/SWICCA-names.txt)

[2020-08-03 09:32] p-a-s-c-a-l commented on #68
cout-yearmax_returnPeriod5_rel_EUR-44_rcp85_IMPACT2C_QM-EOBS_2041-2070_1971-2000_remap0.5.tif
cout-yearmax_returnPeriod5_rel_EUR-44_rcp85_IMPACT2C_QM-EOBS_2071-2100_1971-2000_remap0.5.tif
cout-yearmax_returnPeriod50_ref_EUR-44_rcp85_IMPACT2C_QM-EOBS_1971-2000_remap0.5.tif
cout-yearmax_returnPeriod2_rel_EUR-44_rcp85_IMPACT2C_QM-EOBS_2071-2100_1971-2000_remap0.5.tif
cout-yearmax_returnPeriod50_ref_E

[2020-08-03 10:18] p-a-s-c-a-l commented on #68
Unfortunately, these names are not harmonised with what we have already regarding other European Hazard indices.

Dates should be encoded in the same format as for the other hazard layers, e.g. europe:CI_Tn10p_rcp26_**20710101-21001231**\_ensstd and europe:CI_Tn10p_rcp45_**20110101-20401231**\_ensmean. We could resolve that at the level of [variables](https://csis-dev.myclimateservice.eu/admin/str

[2020-08-03 10:49] RobAndGo commented on #68
I'm not an expert on those SWICCA datasets, but perhaps the datasets with the two timeperiods, e.g.
crun-periodavg_rel_EUR-44_rcp45_IMPACT2C_QM-EOBS_2071-2100_1971-2000_remap0.5.tif
are values of the period 2071-2100 r**elative to the reference period of 1971-2000**. This could explain the addition of "_rel" after the index name "crun-periodavg".

If this is the case, a simple solution could be to

[2020-08-03 12:03] yhundecha commented on #68
There is a reasson for inclusion of two time periods for the data pertaining to the future time horizons. The values were computed as changes relative to the reference period 1971-2000 and that is why the reference period is always indicated. This can possibly be handled by omitting the reference period as the same reference period is always used.

The reference values for the different rcps shoul

[2020-08-03 12:38] p-a-s-c-a-l commented on #68
Thanks for the explanation!

In this case we can simply ignore the reference period part in the filename when creating the map layers as it is just informative but not a template parameter (`${time_period}`). So no name changes are needed.

O.K. I see. For the reference / historic period (1971-2000), the system currently excepts as placeholder for rcp something like 'baseline' or 'historial' for `

[2020-08-03 12:45] p-a-s-c-a-l commented on #77
**HC-LE** PF Layers are now available in the [European Data Package](https://csis-dev.myclimateservice.eu/node/682)

![image](https://user-images.githubusercontent.com/1788226/89183500-9d0eeb00-d597-11ea-8ba6-4fa85b727f78.png)

- [Resource](https://csis-dev.myclimateservice.eu/node/5018)
- [Map](https://csis-dev.myclimateservice.eu/study/25/step/5107/view/maps)
- [Layer](https://service.emikat.at/

[2020-08-03 13:57] yhundecha commented on #68
Alright! If we have to choose only one reference data, I will go for rcp4.5 as it contains more gcm-rcm combinations than the others and it also contains all combinations that are in the others.

[2020-08-03 14:30] p-a-s-c-a-l commented on #77
**RA/IA** PF layers are now available in the European Data Package:

![image](https://user-images.githubusercontent.com/1788226/89193519-62607f00-d5a6-11ea-89c8-0178e80554a2.png)

- [Resource](https://csis-dev.myclimateservice.eu/node/5167)
- [Map](https://csis-dev.myclimateservice.eu/apps/map-component/build/SynchronisedRiskAndImpactMap/?host=https://csis-dev.myclimateservice.eu&study_uuid=9359e7

[2020-08-03 14:33] p-a-s-c-a-l commented on #77
@humerh Please update the description of the [Pluvial Flood risk/impact screening](https://csis-dev.myclimateservice.eu/node/5167) resource and add the [missing style](https://github.com/clarity-h2020/emikat/issues/49#issuecomment-668056491).

[2020-08-07 10:36] RobAndGo commented on #73
Highest five day precipitation amount ENSMEAN

[code]
Highest five day precipitation amount ENSSTD

[code]

[2020-08-07 10:44] RobAndGo commented on #73
Very heavy precipitation days (R20mm) ENSMEAN
[code]

Very heavy precipitation days (R20mm) ENSSTD
[code]

[2020-08-07 10:53] RobAndGo commented on #73
Wet days (RR1) ENSMEAN

[code]
Wet days (RR1) ENSSTD

[code]

[2020-08-07 10:59] RobAndGo commented on #73
Wet days wrt 90th percentile of reference period (R90p) ENSMEAN
[code]

Wet days wrt 90th percentile of reference period (R90p) ENSSTD
[code]

[2020-08-07 11:37] RobAndGo commented on #73
WI_98perc_sfcWindmax_ensmean

[code]
WI_98perc_sfcWindmax_ensstd

[code]

[2020-08-07 11:45] RobAndGo commented on #73
WI_FXx_ensmean
[code]

WI_FXx_ensstd
[code]

[2020-08-07 12:19] RobAndGo commented on #73
WI_torro17_ensmean
[code]

WI_torro17_ensstd
[code]

[2020-08-07 12:37] ghilbrae commented on #73
All new styles have been applied. You can check if everything looks good :)

[2020-08-07 12:56] RobAndGo commented on #73
HI_etr_ensmean

[code]
HI_etr_ensstd

[code]

[2020-08-07 13:07] RobAndGo commented on #73
HI_Tx75p-consecutive-max_ensmean

[code]
HI_Tx75p-consecutive-max_ensstd

[code]

[2020-08-07 13:12] RobAndGo commented on #73
I think I have done them all now.

[2020-08-10 08:24] ghilbrae commented on #73
The new ones are up and also the one that was wrong. You can check them whenever you want.

[2020-08-10 09:15] RobAndGo commented on #73
Thank you @ghilbrae!!
This means that the European climate indices have had their colour legends updated.

One last issue is the changing/modification of the names/titles of the layers in the legend, as addressed here:
https://github.com/clarity-h2020/data-package/issues/73#issuecomment-664214797
https://github.com/clarity-h2020/data-package/issues/73#issuecomment-664842878

If this is not possibl

[2020-08-11 07:10] claudiahahn commented on #68
@maesbri, could you point @DanielRodera to this issue?
Maybe he did not get an allert for it?

[2020-08-11 08:22] DanielRodera commented on #68
Hi,

I have published the SWICCA dataset as map layers,
If you have any doubt please let me know

[2020-08-11 08:51] p-a-s-c-a-l commented on #68
I've updated the [Flood recurrence](https://csis-dev.myclimateservice.eu/node/885) resource and added a new 'service path (reference)' with the following template URL:

`https://geoserver.myclimateservice.eu/geoserver/europe/wms?service=WMS&version=1.1.0&request=GetMap&layers=cout-perc99_rel_EUR-44_${emissions_scenario}_IMPACT2C_QM-EOBS_${time_period}_1971-2000_remap0.5&srs=EPSG:3035&format=image/

[2020-08-11 09:29] p-a-s-c-a-l commented on #68
@therter @DanielRodera

I don't know what's wrong here. Perhaps you can find the error.

### GeoServer Layer Preview WMS Request:

https://geoserver.myclimateservice.eu/geoserver/europe/wms?&service=WMS&request=GetMap&version=1.1.1&layers=europe%3Acout_yearmax_returnPeriod100_rel_EUR_44_rcp85_IMPACT2C_QM_EOBS_2071-2100_1971_2000_remap0_5&styles=&format=image%2Fpng&transparent=true&tileSize=1536&in

[2020-08-11 10:21] p-a-s-c-a-l commented on #68
Thanks!

I've noticed that the layer names are not the same as the filenames on sFTP:
`cout_yearmax_returnPeriod100_rel_EUR_44_rcp85_IMPACT2C_QM_EOBS_2071_2100_1971_2000_remap0_5` vs `cout-yearmax_returnPeriod100_rel_EUR-44_rcp26_IMPACT2C_QM-EOBS_2071-2100_1971-2000_remap0.5`

I'll resolve this at the level of the Data Package Resource.

[2020-08-11 10:33] p-a-s-c-a-l commented on #68
O.K. as an example, I've changed the [Flood recurrence](https://csis-dev.myclimateservice.eu/node/885) resource and added 4 WMS services paths, one for each available return period. In the maps, this looks like:

![image](https://user-images.githubusercontent.com/1788226/89887349-62780480-dbce-11ea-8cf4-0167014af919.png)

This particular resource can now be used as an example for updating the othe

[2020-08-12 07:43] p-a-s-c-a-l commented on #75
@DenoBeno Please keep in mind that once the calculation is finished, somebody has to update the respective open data sets we've [uploaded to Zenodo](https://zenodo.org/communities/clarity/search?page=1&size=20&q=local-effects&keywords=Local%20Effects&file_type=zip&access_right=open). See [Publish Hazard Local Effects Input Layers as OpenData](https://github.com/clarity-h2020/ckan/issues/31).

I tr

[2020-08-12 09:37] p-a-s-c-a-l commented on #54
Flood Local Effects HC-LE layers now available.

[2020-08-12 09:37] #54 closed

[2020-08-12 12:11] p-a-s-c-a-l commented on #68
[River Flow](https://csis-dev.myclimateservice.eu/node/888) now available on [Map](https://csis-dev.myclimateservice.eu/apps/map-component/build/SynchronisedCharacteriseHazardMap/?host=https://csis-dev.myclimateservice.eu&study_uuid=3d8327f4-c47f-4c9e-bbc3-fb9018ea9607&study_area=POLYGON((23.555632%2046.059224,23.555632%2046.085305,23.60095%2046.085305,23.60095%2046.059224,23.555632%2046.059224))&

[2020-08-20 14:09] yhundecha commented on #68
I have been trying to create the template resource. I tried to get access to where I can create it for water runoff:
[(https://csis.myclimateservice.eu/admin/content?title=&type=data_package&status=All&langcode=All)]
Unfortunately, it looks that I get stalled. When I try to click on the button 'Edit as simplifiedDataPackage' in front of European wide data package, I get notified that I am not auth

[2020-08-20 14:11] yhundecha commented on #68
I have been trying to create the template resource. I tried to get access to where I can create it for water runoff:
[](https://csis.myclimateservice.eu/admin/content?title=&type=data_package&status=All&langcode=All)
Unfortunately, it looks that I get stalled. When I try to click on the button 'Edit as simplifiedDataPackage' in front of European wide data package, I get notified that I am not auth

[2020-08-20 14:50] therter commented on #68
I think you should do changes to the data package on the [dev instance](https://csis-dev.myclimateservice.eu/admin/content?title=&type=data_package&status=All&langcode=All) (https://csis-dev.myclimateservice.eu). You should have the required permissions there and during the next synchronisation, the changes will be transferred to the public instance.

[2020-08-21 11:08] yhundecha commented on #68
Thank you for the tip. It works. Now I have problem accessing the geoserver to get the path to the data.

[2020-08-25 10:36] yhundecha commented on #68
I still have problem getting access to the geoserver to create the service path to the data package for water runoff. Anyone who can help with this?

[2020-08-25 10:38] therter commented on #68
The ssl certificate has expired. @DanielRodera is working on this.

[2020-08-25 10:58] yhundecha commented on #68
Ok, thank you.

[2020-08-27 10:26] therter commented on #68
The geoserver is available again. See [here](https://github.com/clarity-h2020/csis-technical-validation/issues/127#issuecomment-681835580)

[2020-08-27 16:07] yhundecha commented on #68
Ok, thank you. I have now updated all the SWICCA resources.

[2020-08-28 07:45] ghilbrae opened #78 "Clone Data Package for European Transport"
Hi! We are going to create the European Data Package for transport and we want to start from the European Wide Data Package (https://csis.myclimateservice.eu/node/682) because there are more than a few resources there that we will need too.

We've spoken with @DanielRodera and he has pointed out that there are two options: having admin permissions or having someone clone it for us. I think the sec

[2020-08-31 07:10] p-a-s-c-a-l commented on #68
done

[2020-08-31 07:38] patrickkaleta commented on #78
Yes, the data package should be created in DEV and once it's finished it can be synchronized to PROD. Creating it on PROD a second time is not a solution, since after the next sync process this data package would then be on PROD twice.

[2020-08-31 07:54] claudiahahn commented on #68
sorry, for reopening, but I have just noticed two things
a) no map is shown, when selecting river flow (map on the right)
b) no legend is shown (no units, no values), when selecting flood recurrence
![image](https://user-images.githubusercontent.com/45260352/91696420-d6735000-eb6f-11ea-849a-2da91cdb450f.png)

[2020-08-31 08:40] p-a-s-c-a-l commented on #68
I cannot reproduce the problem on [this](https://csis-dev.myclimateservice.eu/apps/map-component/build/SynchronisedCharacteriseHazardMap/?host=https://csis-dev.myclimateservice.eu&study_uuid=3d8327f4-c47f-4c9e-bbc3-fb9018ea9607&study_area=POLYGON((23.555632%2046.059224,23.555632%2046.085305,23.60095%2046.085305,23.60095%2046.059224,23.555632%2046.059224))&emikat_id=3209&datapackage_uuid=2434ce93-9

[2020-08-31 08:57] p-a-s-c-a-l commented on #68
Flood recurrence layer is not working at all. Not sure if the problem is at the level of GeoServer, but this [used to work](https://github.com/clarity-h2020/data-package/issues/68#issuecomment-671867829).

[code]

The Flood recurrence Baseline (rcp45 / 1971_2000) data doen't seem to be available on geoserver, e.g. `cout_yearmax_returnPeriod5_rel_EUR_44_rcp45_IMPACT2C_QM_EOBS_1971_2000_remap0_5` se

[2020-08-31 09:26] p-a-s-c-a-l commented on #77
done

[2020-08-31 09:26] #77 closed

[2020-08-31 09:26] #75 closed

[2020-08-31 09:26] #73 closed

[2020-08-31 09:27] #69 closed

[2020-08-31 14:38] LauraMTG opened #79 "Missing Study"
Hi @patrickkaleta

From MTG we are finalizing the integration of the Bristol case study in CSIS. The completion of the data package has been possible from the developers instance, however the expert study created for Bristol is not available in this instance and it is not in production either. Is it possible that it has been definitely deleted? Is there any way to recover it?

[2020-09-01 11:06] patrickkaleta commented on #79
What can you tell me about this Study? You remember it's Study ID, the exact title or have you any URL which lead to this Study saved in your browser history?

I found two RESCCUE Studies which have the name Bristol in its titles: [166 ](https://csis-dev.myclimateservice.eu/study/166 )and [168](https://csis-dev.myclimateservice.eu/study/168). Is any one of these the one you're looking for?

If som

[2020-09-01 11:06] luis-meteogrid commented on #78
Hi @patrickkaleta, could you clone the datapackage and assign it to angela or/and meteogrid so we can use it for European transport studies?.

[2020-09-01 11:30] patrickkaleta commented on #78
I've cloned the European Wide DP on [DEV](https://csis-dev.myclimateservice.eu/node/5580) and made @ghilbrae the author of it. Please keep this [comment ](https://github.com/clarity-h2020/csis/issues/156#issuecomment-609766874)by Pascal in mind when working with the cloned DP.

[2020-09-01 12:05] yhundecha commented on #68
I can see the files on the geoserver:
![screenreturnP5_reference](https://user-images.githubusercontent.com/45195885/91849292-1e6fa100-ec5c-11ea-9239-d433d90e888f.PNG)

[2020-09-01 12:35] yhundecha commented on #68
One more point: for the reference period, the file names have the string 'ref' rather than 'rel' as in '..._ref_EUR_44_rcp45_IMPACT2C_QM_EOBS_1971_2000_remap0_5'.

[2020-09-01 13:43] LauraMTG commented on #79
Yes, I have checked it and it is study 168, is it possible to restore it in the production instance? Thank you

[2020-09-01 14:13] patrickkaleta commented on #79
No, restoring deleted Studies is unfortunately not possible. However, I don't think this Study was deleted on PROD. If it was created on DEV, it was always only there and never on PROD.

Studies are not synchronized between the two environments. The synchronization process was explicitly build that way to not allow it due to possible negative side-effects on our external services (Emikat and the T

[2020-09-01 14:34] luis-meteogrid commented on #78
Thank you @patrickkaleta , I have already seen the new Data-package for transport. Just a thing before we start working with it. May we remove contents from the data-package? Let say the Adaptation-options
![image](https://user-images.githubusercontent.com/1586268/91864270-4d900d80-ec70-11ea-91d6-7545d68636d7.png)
I suppose that if we press the remove button we simply unlink  the data-package from

[2020-09-01 15:44] patrickkaleta commented on #78
**Correct!** After clicking the "Remove" button the system shows a second checkbox asking whether you also want to remove the item completely from the system, but AFAIK your users don't have the permission to even see this additional dialog, so you cannot completely remove the items.

You only need to be careful with the available "Edit" button, since changing the item would then also be affecting

[2020-09-02 08:20] luis-meteogrid commented on #78
Thank you again @patrickkaleta

[2020-09-02 08:20] #78 closed

[2020-09-03 07:22] LauraMTG commented on #79
Hi @patrickkaleta
I created a new Bristol studio in the production instance and associated the dapackage. Now you can correctly visualize the Risk and Impact resources but I can't see anything (Data/Maps) in the Hazard module. I've attached a screenshot of the Hazard Data configuration, is there anything wrong?
![image](https://user-images.githubusercontent.com/46347135/92083893-f2bcfa00-edc6-11ea

[2020-09-03 07:47] patrickkaleta commented on #79
Hi @LauraMTG,

the screenshot you posted shows the configuration of the Study step, which is defined automatically by the chosen Study template. So, there you shouldn't need to change anything.

I believe the reason is probably that none of the resources in the DP have been associated with the Hazard Characterization step and that's why nothing is shown in that step. I'll have a closer look at thi

[2020-09-03 08:02] patrickkaleta commented on #79
Yes, it's just what I thought. The used [data package](https://csis.myclimateservice.eu/maintenance/datapackages/5690) has in PROD has only resources that are tagged with the "Risk and Impact Assessment" EU-GL step. That's why only this step has something shown in the Data and Map tab.

I've checked the DEV version of the [data package](https://csis-dev.myclimateservice.eu/maintenance/datapackages

[2020-09-03 08:04] patrickkaleta commented on #79
Currently @ghilbrae is working on a European wide Transport data package. So once that is completed, I will start the next synchronization run.

[2020-09-03 08:34] LauraMTG commented on #79
Thank you very much @patrickkaleta
I remain attentive to this issue

[2020-09-18 07:12] ghilbrae commented on #79
We have created the DP https://csis-dev.myclimateservice.eu/node/5580

We may add a few more layers at some point but for now we consider it ready.

[2020-09-23 13:45] yhundecha commented on #68
I am just wondering if the problem is going to be fixed.